.filter-section__header, .filter-section_content {
  margin-bottom: 25px;
}

.filter-section_content {
  border-radius: 16px;
  background: rgba(23, 68, 73, 0.05);
  padding: 10px;
}

.filter-section__header .row:nth-child(1) {
  padding-left: 1vw;
  padding-right: 1vw;

}

.filter-section__header .row:nth-child(2) {
  margin-top: 5vh;
  width: 100%;
  margin-right: 0;
  margin-left: auto;
}

.filter-section__header .row:nth-child(3) {
  margin-top: 3vh;
  /*padding-left: 5vh;*/
  /*padding-right: 5vh;*/
}

.filter-section__header .block-filter {
  /*transform: scale(0.8);*/
}

.filter-section__header .col-xxl-4 .block-filter {
  /*margin-left: 2vh;*/
  margin-right: 0;
}

.filter-section__header .col-xxl-3 .block-filter {
  /*margin-left: 7vh;*/
  margin-right: 0;
}

.filter-button {
  border: 0px solid rgba(153, 153, 153, 0);
  border-radius: 15px;
  width: 162px;
  height: 41px;

}

.banner--small .banner__back-logo {
  height: 87%;
  width: 21%;
}

._show {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #174449;
  width: 100%;
  color: #fff;
}

._cancel {
  width: 100%
}

#group_obj {
  font-size: 24px;
}

#group_obj ~ label {
  font-weight: 300;
  font-size: 24px;
  color: #000;
}
.img_section {
  height: 360px;
}
.title_img {
  background-image: url("/assets/img/стел жк 7.png");
  border-radius: 30px 30px 120px 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.filter-banner {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  height: 365px;
  border-radius: 30px 30px 30px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-bottom: 10vh;
}

.filter-banner .bageSoon {
  border-radius: 10px;
  font-weight: 500;
  font-family: var(--font-family-bold);
  padding: 0;
  position: absolute;
  border-radius: 10px;
  text-align: center;
  top: 29px;
  left: 31px;
  border: 0;
  background-color: rgba(246, 246, 246, 0.800000011920929);
  min-height: 33px;
  width: 90px;
  font-weight: 500;
  font-size: 15px;
}

.filter-banner .info_section > div:nth-of-type(1) {
  font-weight: 700;
  font-size: 40px;
  font-family: var(--font-family-bold);
}

.filter-banner .info_section > div:nth-of-type(2) {
  font-size: 25px;
}

.filter-banner .info_section > div:nth-of-type(3) {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  color: #000;
  opacity: 0.15;
}


.filter-banner .info_section {
  left: 20px;
  line-height: 300%;
  padding: 30px 24px 10px 24px;
  position: relative;
}

.filter-banner .info_section div:nth-of-type(3) {
  margin-top: -5%;
}

.filter-banner .info_section div:nth-of-type(4) {
  font-weight: 600;
  font-size: 36px;
  color: #174246 !important;
  margin-top: 100px;
}

.result-search__items {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 115px 110px;

}

.result-search__item {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  min-height: 200px;
  cursor: pointer;
  padding: 10px;
}

.r-item-img {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.50px solid #999;
  border-radius: 5px;
  width: 169px;
  height: 200px;
  background: #fffefe;
}

.r-item-img img {

  /*max-height: 300px;*/
  /*max-width: 100px;*/
  width: 100%;
  height: 100%;
  object-fit: contain
}

.r-item-info {
  width: 60%;
}

.cards-block__price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  color: #000;

}

.cards-block__price-sqr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  color: #999;
}

.percent-h2 {
  font-family: var(--font-family-bold);
  font-weight: 800;
  font-size: 48px;
  color: #106681 !important;
}

.r-item__title-info, .price {
  font-family: 'Lato SemiBold', sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: #000;
  margin-top: 2px;
  margin-bottom: 10px;
}

.r-item__price-block {
  margin-top: 17px;
}

.r-item__company {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  color: #000;
  padding-top: 7vh;
}

.price {
  margin-bottom: 0px;
  line-height: 90%;
}

.price-squad {
  font-family: 'Lato SemiBold', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.price-squad span {
  color: gray;
}

.r-item__type-build, .r-item__address, .r-item__categories.price-squad {
  font-family: 'Lato SemiBold', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 146%;
  color: #999;
}


.r-item__categories {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px auto;
  line-height: 100%;
  font-size: 13px;
}



@media (max-width: 1800px) {


  .as__toogle {
    width: 18.6rem;
  }

  .filter-side, .cards-side {
    width: 100%;
    height: auto;
    padding: 50px;
  }

  .result-search__items {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .filter-section__header .block-filter {
    transform: scale(1);
  }
}
