<main class="home-page">
  <app-banner></app-banner>
  <section class="prepare-search">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 filter-side">
          <h2 class="title-section text-wrap">НОВОСТРОЙКИ<br />В ВОРОНЕЖЕ</h2>
          <p>Выберите квартиру <br />в новостройках Воронежa</p>
          <form [formGroup]="formFilter">
            <div class="blocks-filter">
              <div class="block-filter">
                <label for="cnt-room-input"> Количество комнат</label>
                <div
                  class="btn-group my-btn-lg"
                  id="cnt-room-input"
                  role="group"
                  aria-label="Группа кнопок по умолчанию"
                >
                  <input
                    formControlName="isAtelier"
                    type="checkbox"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio1"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-dark" for="btnradio1"
                    >Cтудия</label
                  >

                  <input
                    formControlName="isOne"
                    type="checkbox"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio2"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-dark" for="btnradio2">1</label>

                  <input
                    formControlName="isTwo"
                    type="checkbox"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio3"
                    autocomplete="off"
                    checked
                  />
                  <label class="btn btn-outline-dark" for="btnradio3">2</label>

                  <input
                    formControlName="isThree"
                    type="checkbox"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio4"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-dark" for="btnradio4">3</label>
                  <input
                    formControlName="isFour"
                    type="checkbox"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio5"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-dark" for="btnradio5">4</label>
                  <input
                    formControlName="isFivePlus"
                    type="checkbox"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio6"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-dark" for="btnradio6">5+</label>
                </div>
              </div>
              <div class="block-filter">
                <label for="cost-input"> Цена, руб. </label>
                <div class="cost block-inputs">
                  <input
                    formControlName="priceMin"
                    type="text"
                    class="my-input-lg"
                    id="cost-input"
                    placeholder="от"
                  />
                  <input
                    formControlName="priceMax"
                    type="text"
                    class="my-input-lg"
                    placeholder="до"
                  />
                  <div class="w-50"></div>
                </div>
              </div>
              <div class="block-filter">
                <label for="area-input"> Площадь, м<sup>2</sup> </label>
                <div class="area block-inputs">
                  <input
                    formControlName="areaTotalMin"
                    type="text"
                    id="area-input"
                    class="my-input-lg"
                    placeholder="от"
                  />
                  <input
                    formControlName="areaTotalMax"
                    type="text"
                    class="my-input-lg"
                    placeholder="до"
                  />
                  <div class="w-75"></div>
                </div>
              </div>
              <div class="block-filter">
                <label>Срок сдачи </label>
                <div class="square block-inputs">
                  <div class="form-group">
                    <select
                      formControlName="due"
                      class="form-control my-select my-select--smpl"
                      id="squareSelect"
                    >
                      <option value="Сдан">Сдан</option>
                      <optgroup label="2024">
                        <option value="24_3">до 3 квартала</option>
                        <option value="24_4">до 4 квартала</option>
                      </optgroup>
                      <optgroup label="2025">
                        <option value="25_1">до 1 квартала</option>
                        <option value="25_2">до 2 квартала</option>
                        <option value="25_3">до 3 квартала</option>
                        <option value="25_4">до 4 квартала</option>
                      </optgroup>
                      <optgroup label="2026">
                        <option value="26_1">до 1 квартала</option>
                        <option value="26_2">до 2 квартала</option>
                        <option value="26_3">до 3 квартала</option>
                        <option value="26_4">до 4 квартала</option>
                      </optgroup>
                    </select>
                    <svg
                      fill="none"
                      height="12"
                      viewBox="0 0 23 14"
                      width="20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M20.7822 1.55799L10.8939 10.5453L2.00072 2.3106"
                        stroke="#174449"
                        stroke-width="4"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="extended-filter">
            <a [routerLink]="['/filter-search']"
              ><span>
                <svg
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M22.5 7C22.5 10.0376 20.0376 12.5 17 12.5C13.9624 12.5 11.5 10.0376 11.5 7C11.5 3.96243 13.9624 1.5 17 1.5C20.0376 1.5 22.5 3.96243 22.5 7Z"
                    stroke="#174449"
                    stroke-width="3"
                  />
                  <path d="M0 7H11.5" stroke="#174449" stroke-width="4" />
                  <path d="M22.5 7L48 7" stroke="#174449" stroke-width="4" />
                  <path d="M0 24H26.5" stroke="#174449" stroke-width="4" />
                  <path d="M37 24H48" stroke="#174449" stroke-width="4" />
                  <circle
                    cx="18"
                    cy="41"
                    r="5.5"
                    stroke="#174449"
                    stroke-width="3"
                  />
                  <path d="M0 41H12" stroke="#174449" stroke-width="4" />
                  <path d="M24 41H48" stroke="#174449" stroke-width="4" />
                  <circle
                    cx="32"
                    cy="24"
                    r="5.5"
                    stroke="#174449"
                    stroke-width="3"
                  /></svg></span
              >Расширенный поиск</a
            >
          </div>
        </div>
        <div class="col-md-8 col-sm-12 cards-side">
          <div class="cards-container">
            <div class="prev-slide" (click)="prevSlide()">
              <svg
                width="12"
                height="19"
                viewBox="0 0 12 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.78051 16.7549L3.03163 8.49974L9.96514 1.75677"
                  stroke="#174449"
                  stroke-width="4"
                />
              </svg>
            </div>
            <div class="cards__slider">
              <div class="cards">
                <div
                  class="card card-body p-0 brdr"
                  *ngFor="let item of rcomplexPopulars"
                  [routerLink]="['/r-complex', item.id]"
                >
                  <div class="img_section">
                    <div
                      class="title_img"
                      title="{{ item.name }}"
                      [ngStyle]="{
                        'background-image': 'url(' + item.titlePicture + ')'
                      }"
                    >
                      <button class="bageSoon">
                        {{ item.dueQuart }} кв.{{ item.dueYear }}
                      </button>
                    </div>
                    <div class="logo_img">
                      <button class="bageLogo">
                        <img
                          alt="img"
                          style="cursor: pointer"
                          [src]="item.logo"
                        />
                      </button>
                    </div>
                  </div>

                  <div class="info_section">
                    <div class="">{{ item.name }}</div>
                    <div class="">{{ item.address }}</div>
                    <div class="">от 3,45млн до 12,5млн</div>
                    <div class="row align-items-center justify-content-center">
                      <div class="col-1">
                        <i class="bi bi-geo-alt-fill"> </i>
                        <svg
                          width="19"
                          height="19"
                          viewBox="0 0 19 19"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle cx="9.5" cy="9.5" r="9.5" fill="#174449" />
                          <path
                            d="M12 8.69231C12 10.3077 10.5 13 9.5 13C8.5 13 7 10.1792 7 8.69231C7 7.20539 8.11929 6 9.5 6C10.8807 6 12 7.20539 12 8.69231Z"
                            fill="white"
                          />
                          <circle cx="9.5" cy="8.5" r="0.5" fill="#174449" />
                        </svg>
                      </div>
                      <div class="col">
                        <!--                      <span> Коминтерновский </span>-->
                      </div>
                    </div>

                    <div class="card__extended-block ex-bl">
                      <div class="h-divider"></div>
                      <div class="ex-bl__build-cnt">
                        Квартир: {{ item.countApartments }}
                      </div>
                      <ul class="ex-bl__list-apart">
                        <li class="list-apart__item">
                          <span>1-комнатные (10)</span
                          ><a>
                            от 3,45млн до 12,5млн
                            <svg
                              width="14"
                              height="8"
                              viewBox="0 0 14 8"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464466C9.97631 0.269204 9.65973 0.269204 9.46447 0.464466C9.2692 0.659728 9.2692 0.976311 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM0 4.5H13V3.5H0V4.5Z"
                                fill="#032F30"
                              />
                            </svg>
                          </a>
                        </li>
                        <li class="list-apart__item">
                          <span>2-комнатные (10)</span
                          ><a> от 3,45млн до 12,5млн </a>
                        </li>
                        <li class="list-apart__item">
                          <span>3-комнатные (10)</span
                          ><a> от 3,45млн до 12,5млн </a>
                        </li>
                        <li class="list-apart__item">
                          <span>4-комнатные (10)</span
                          ><a> от 3,45млн до 12,5млн </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="next-slide" (click)="nextSlide()">
              <svg
                width="12"
                height="19"
                viewBox="0 0 12 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.12982 1.79501L8.94344 9.92241L2.13042 16.7139"
                  stroke="#174449"
                  stroke-width="4"
                />
              </svg>
            </div>
          </div>
          <div class="card__show-button" *ngIf="!isLoadingVariants">
            <button class="show-button" (click)="filterSearch()">
              Показать: {{ apartmentCount }} вариантов в {{ rcomplexCount }} ЖК
            </button>
          </div>
          <div class="card__show-button" *ngIf="isLoadingVariants">
            <button class="show-button">[ Загрузка ... ]</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->

  <section class="send-section">
    <div class="container">
      <app-statement-form (submitted)="submitStatementForm($event)"></app-statement-form>
    </div>
  </section>
</main>
