.banner {
  background-color: #032f30;
  height: 563px;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(233.00000131130219, 234.00000125169754, 238.00000101327896, 1);
  background-image: linear-gradient(0deg, rgba(23.000000528991222, 68.00000354647636, 73.00000324845314, 1) 0%, rgba(37.30096064507961, 110.28110235929489, 118.39000403881073, 1) 56.23987317085266%, rgba(39.068496599793434, 115.50685554742813, 124.00000780820847, 1) 62.07455396652222%, rgba(40.996714532375336, 121.20767444372177, 130.12000501155853, 1) 67.90924072265625%, rgba(55.13698697090149, 163.0136999487877, 175.00000476837158, 1) 100%);
}

.banner__back-logo {
  position: absolute;
  height: 485px;
  width: 565px;
  top: 5%;
  right: 6vw;
}

.banner-inner {
  padding: 100px 100px;
}

.banner--small {
  max-height: 31rem;

}

.info-banner--small {
  padding-top: 10%;
  color: white;
  width: 50vh;
  font-size: 35px;
}
.row{
  position: relative;
  z-index: 1;
}
.banner__img-part {
  background-image: url("/assets/img/фото ЖК (сменное до 5 шт).png");
  background-size: cover;
  height: 598px;
  width: 841px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  border: 0;
  top: -15px;
  left: -5px;
  position: relative;
  margin: 0;
}

.banner__text-part {
  position: relative;
  width: min(992px, 36%);
  display: flex;
  flex-flow:column nowrap;
  justify-content: center;
  grid-gap: 16px;
  margin-left: 15px;
}

.banner-title {
  padding: 10px 46px;
  position: relative;
  border-radius: 15px;
  height: 87px;
  left: -14vw;
  width: 692px;
  background-color: #ffffff;
  min-height: 87px;
  color: #032f30;
  font-size: 65px;
  border-style: hidden;
  outline: none;
  line-height: 1;
  font-family: var(--font-family-bold);
  margin-top: 5vh;
  top: 0;
}

.banner-info {
  position: relative;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 1.15;
  font-family: 'Lato Light', sans-serif;

}

.banner__smart-part {
  margin-bottom: 3rem;
}

.banner__smart-part button, .smart-part__button {
  text-align: center;
  vertical-align: text-top;
  background-color: #efeccb;
  border: 0;
  height: 57px;
  width: 253px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  font-family: 'Lato SemiBold', sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 25px;
  color: #032f30;
}

.smart-part__info {
  margin-top: 10px;
  line-height: 1.2;
  color: #ffffff;
  font-size: 10px;
}
/* Добавление медиа-запросов */
@media (max-width: 1400px) {
  .banner-title {
    font-size: 46px; /* Уменьшение размера шрифта заголовка */
    width: 140%;
    top: calc(-10px);
    padding: 25px 46px;
  }
}

@media (max-width: 1300px) {
  .banner-title {
    font-size: 27px; /* Уменьшение размера шрифта заголовка */
    width: 90%;
    top: calc(-10px);
    padding: 30px 46px;
  }

  .banner-info {
    max-width: 40%;
    left: 0;
    font-size: 23px; /* Уменьшение размера шрифта информации */
  }
}

@media (max-width: 1200px) {

  .banner {
    height: 380px; /* Автоматическая высота для мобильных устройств */
    padding: 20px; /* Добавление отступов */
  }

  .banner__back-logo {
    height: 500px; /* Уменьшаем высоту изображения */
    width: 100%; /* Устанавливаем ширину на 100% */
    top: 10%; /* Изменение позиции */
    right: 5vw; /* Изменение позиции */
  }

  .banner-inner {
    padding: 50px; /* Уменьшение отступов */
  }

  .banner-title {
    font-size: 40px; /* Уменьшение размера шрифта заголовка */
    width: 50%;
    top: calc(-10px);
    padding: 25px 46px;
  }

  .banner-info {
    max-width: 40%;
    left: 0;
    font-size: 23px; /* Уменьшение размера шрифта информации */
  }

  .banner__img-part {
    top: -25px;
    width: 60%;
    height: 390px;
  }
  .banner__text-part {
    order: 1; /* Устанавливаем текст под изображением */
    margin-left: 0; /* Убираем отступ слева */
    width: 100%; /* Ширина текстовой части на 100% */
  }


  .banner__smart-part button {
    font-size: 20px; /* Уменьшаем размер шрифта кнопки */
  }
}
@media (max-width: 999px) {
  .banner-title {
    font-size: 40px; /* Уменьшение размера шрифта заголовка */
    width: 70%;
    top: calc(-10px);
    padding: 25px 46px;
  }
}
@media (max-width: 900px) {
  .banner-title {
    font-size: 34px; /* Уменьшение размера шрифта заголовка */
    width: 60%;
    padding: 30px 50px;
  }
  .banner-inner {
    padding: 50px; /* Уменьшение отступов */
  }
}

@media (max-width: 768px) {

  .banner {
    height: 380px; /* Автоматическая высота для мобильных устройств */
    padding: 20px; /* Добавление отступов */
  }

  .banner-info {
    max-width: 70%;
  }

  .banner__back-logo {
    height: 300px; /* Уменьшаем высоту изображения */
    width: 100%; /* Устанавливаем ширину на 100% */
    top: 10%; /* Изменение позиции */
    right: 5vw; /* Изменение позиции */
  }

  .banner-inner {
    padding: 50px; /* Уменьшение отступов */
  }
  .banner-title {
    font-size: 24px; /* Уменьшение размера шрифта заголовка */
    width: 60%;
    padding: 30px 20px;
  }
  .banner__smart-part button {
    width: 40%;
    font-size: 18px;
  }
  .smart-part__info{
    width: 40%;
  }
}

@media (max-width: 480px) {
  .banner__smart-part button {
    width: 40%;
    font-size: 18px;
  }
  .banner-title {
    width: 60%;
    padding: 34px 12px;
    font-size: 18px; /* Дополнительное уменьшение размера шрифта заголовка */
  }

  .banner-info {
    font-size: 14px; /* Дополнительное уменьшение размера шрифта информации */
  }

  .banner__back-logo {
    height: 200px; /* Уменьшение высоты логотипа для очень маленьких экранов */
    width: 200px; /* Уменьшение ширины логотипа для очень маленьких экранов */
  }

  .banner-inner {
    padding: 20px; /* Уменьшение отступов для маленьких экранов */
  }
}
