<section class="statistic-section">
  <div class="container">
    <div class="filters">
      <select class="select-option">
        <option value="Вчера">Вчера</option>
        <option value="Последние 7 дней">Последние 7 дней</option>
        <option value="За весь период">За весь период</option>
        <option value="За весь период">За весь период</option>
      </select>
      <select class="select-option">
        <option value="Все ЖК">Все ЖК</option>
        <option value="ЖК Современник">ЖК Современник</option>
        <option value="ЖК Звезда">ЖК Звезда</option>
        <option value="ЖК Композитор">ЖК Композитор</option>
      </select>
    </div>
    <div class="results">
      <h2>Статистика по всем ЖК</h2>
      <div class="statistic-watch">
        <h3><span>Показы</span>14 250</h3>
        <h3>
          <span>Просмотры</span>896
          <p>+28% уникальных пользователей</p>
        </h3>
        <h3><span>Просмотры контактов</span>15</h3>
      </div>
    </div>
    <div class="results">
      <h2>Статистика по 259 объявлениям</h2>
      <div class="statistic-watch">
        <h3><span>Показы</span>14 250</h3>
        <h3>
          <span>Просмотры</span>896
          <p>+28% уникальных пользователей</p>
        </h3>
        <h3><span>Просмотры контактов</span>15</h3>
      </div>
    </div>
  </div>
</section>
