header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

.toolbar {
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
}

.top__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom__header {
  justify-content: space-between;
  display: flex;
}

.logo {
  width: 103px;
  height: 75px;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.header-text-main {
  padding: 10px;
}

.header__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-button-gps-margin {
  margin: 0 25px 0 35px !important;
}

.mat-toolbar img {
  cursor: pointer;
}

.small-header-hide {
  display: none !important;
}

.small-header {
  display: block !important;
}

.mat-toolbar {
  padding: 0 20px 0 20px !important;
  height: 100%;
  background-color: var(--mat-app-background-color);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

@media (min-width: 1400px) {
  .small-header-hide {
    display: block !important;
  }

  .small-header {
    display: none !important;
  }

  .mat-toolbar {
    padding: 0 70px 0 70px !important;
  }
}
@media (min-width: 1200px) {
  .small-header-hide {
    display: block !important;
  }

  .small-header {
    display: none !important;
  }

  .mat-toolbar {
    padding: 0 70px 0 70px !important;
  }
}
@media (min-width: 992px) {
  .small-header-hide {
    display: block !important;
  }

  .small-header {
    display: none !important;
  }

  .mat-toolbar {
    padding: 0 50px 0 50px !important;
  }
}

@media (max-width: 768px) {
  .small-header-hide {
    display: block !important;
  }

  .small-header {
    display: block !important;
  }

  .mat-toolbar {
    padding: 0 30px 0 30px !important;
  }

  .row {
    flex-direction: column; /* Меняем направление на колонку */
  }
  .mat-toolbar {
    height: 80px; /* Уменьшение высоты для мобильных устройств */
    padding: 0 10px; /* Уменьшение отступов */
  }

  .mat-button-gps-margin {
    margin: 0 10px; /* Уменьшение отступов для кнопок */
  }
  .small-header-hide b {
    display: none;
  }
}
@media (min-width: 576px) {
  .small-header-hide {
    display: block !important;
  }

  .small-header {
    display: block !important;
  }

  .mat-toolbar {
    padding: 0 20px 0 20px !important;
  }
}
@media (max-width: 480px) {
  .header-text-main {
    font-size: 16px; /* Дополнительное уменьшение размера шрифта */
  }

  .mat-toolbar {
    height: 60px; /* Уменьшение высоты для очень маленьких экранов */
  }
}
@media (max-width: 399px) {
  .header-text-main {
    display: none;
  }
}
