.apartment-section {
  top: 40px;
  position: relative;
  margin-bottom: 100px;

}


.as__gallery-side {
  border-radius: 25px;
  min-height: 545px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background: #fff;
  padding: 40px 30px;
  max-width: 93%;

}

.as__toogle {
  width: 350px;
  height: 30px;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fffefe;
  font-weight: 400;
  font-size: 13px;
  color: #707070;
}

.r-item__title-info, .price {
  font-family: 'Lato SemiBold', sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: #000;
  margin-top: 2px;
  margin-bottom: 10px;
}


.as__main-img {

  border: 0.50px solid #999;
  border-radius: 7px;
  max-width: 700px;
  height: 310px;
  background: #fffefe;
}

.as__main-img img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.as__group-imgs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.as__group-imgs img {
  cursor: pointer;
  height: 100%;
  width: 90%;

}

.btn-group, .btn-group-vertical{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}

.btn-check:checked + .btn.as__toogle {
  background: rgba(16, 102, 129, 0.1);
  border: 0;
  color: #707070;
}

.as__info-side {
  font-family: var(--font-family);
  border-radius: 25px;
  min-height: 456px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background: #fff;
  padding: 40px 20px;
  max-width: 363px;
}

.as__price-block {
  margin-bottom: 30px;
}

.as__price-block .price-squad {
  font-weight: 500;
  font-size: 20px;
  color: #999;
}

.as-info__items {
  line-height: 140%;
}

.as-item__type-build {
  font-weight: 500;
  font-size: 15px;
  color: #000;
}

.as-item__address {
  font-weight: 400;
  font-size: 13px;
  color: #999;
  margin-bottom: 10px;
}

.as-item__categories {
  display: grid;
  grid-template-columns: 160px auto;
  line-height: 200%;
  font-weight: 400;
  font-size: 13px;
  color: #999;
}

.as-item__categories span {
  font-weight: 400;
  font-size: 13px;
  color: #000;
}

.apartment-build-info, .ab-info {
  margin-bottom: 100px;
  height: 100%;
}

.ab-info__content {
  border-radius: 25px;
  max-width: 1020px;
  min-height: 740px;
  background: rgba(16, 102, 129, 0.05);
  border: 0;
  padding: 30px;
}

.ab-info__content > .row:nth-of-type(1) {
  margin-bottom: 60px;
}

.ab-info__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #333;
  max-height: 600px;
  overflow: hidden;
}

.ab-info__img {
  background-image: url("/assets/img/стел жк 10.png");
  border-radius: 20px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 447px;
  height: 395px;
  position: relative;
}

.ab-info__content iframe {
  min-height: 250px;
}



.apartment-similar > div:nth-of-type(1) {
  height: 1200px;
  overflow-y: scroll;

}

.img-block {
  height: 326px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center; /* и вертикали */
  border: 0.50px solid #999;
  border-radius: 5px;
}
.percent-h2 {
  font-family: var(--font-family-bold);
  font-weight: 800;
  font-size: 48px;
  color: #106681 !important;
}
.cards-block__price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  color: #000;

}

.cards-block__price-sqr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  color: #999;
}
.cards-block__item {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px 0 0 17px;
  padding: 16px 0px 31px 20px;
  grid-gap: 52px;
  justify-content: space-evenly;
  border: 1px solid rgba(153, 153, 153, 0.01);
  border-radius: 10px;
  box-shadow: -1px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(217, 217, 217, 0);
  cursor: pointer;
}
.float-img {
  float: right; /* Или right, если хотите, чтобы текст обтекал справа */
  margin-right: 15px; /* Отступ справа от изображения */
  margin-bottom: 15px; /* Отступ снизу от изображения */
  width: 447px;
  height: 395px;
}
/* Медиа-запросы для адаптивности */
@media (max-width: 1200px) {
  .as__gallery-side {
    padding: 30px 20px; /* Уменьшение отступов */
  }

  .as__toogle {
    max-width: 47%;
  }

  .as__info-side {
    max-width: 100%; /* Увеличение ширины для мобильных устройств */
    padding: 30px 15px; /* Уменьшение отступов */
  }



  .as__group-imgs {
    grid-template-columns: repeat(3, 1fr); /* Уменьшение количества колонок */
  }

  .ab-info__content {
    padding: 20px; /* Уменьшение отступов */
  }

  .percent-h2 {
    font-size: 36px; /* Уменьшение размера шрифта */
  }

  .cards-block__price {
    font-size: 28px; /* Уменьшение размера шрифта */
  }

  .cards-block__price-sqr {
    font-size: 20px; /* Уменьшение размера шрифта */
  }
}

@media (max-width: 992px) {
  .as__toogle {
    max-width: 75%;
  }
  .ab-info__text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #333;
    max-height: 600px;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .row {
    display: flex; /* Включение flexbox для строки */
    flex-direction: column; /* Расположение элементов вертикально */
    align-items: center; /* Центрирование элементов по горизонтали */
  }
  .apartment-section {
    margin-bottom: 50px; /* Уменьшение отступа снизу */
  }
  .btn-group, .btn-group-vertical{
    width: 180%;
  }
  .as__gallery-side {
    max-width: 100%; /* Задаем боковой галерее полную ширину */
  }
  .ab-info__content {
    max-width: 100%; /* Задаем контенту полную ширину */
  }

  .as__main-img {
    height: 200px; /* Уменьшение высоты изображения */
  }

  .as__group-imgs {
    grid-template-columns: repeat(2, 1fr); /* Уменьшение количества колонок */
  }
  .as__info-side {
    margin-top: 20px;
    max-width: 200%; /* Увеличение ширины для мобильных устройств */
    width: 150%;
    padding: 30px 15px; /* Уменьшение отступов */
    position: relative;
    left: -50px;
  }
  .as__toogle {
    max-width: 60%;
  }
  .cards-block__item img {
    height: 100%;
  }
  .apartment-similar{
    flex-direction: column; /* Расположение элементов вертикально */
    align-items: center; /* Центрирование элементов по горизонтали */
    width: 100%; /* Задаем карточке полную ширину */
  }

  .img-block {
    width: 100%; /* Ширина блока изображений на 100% */
    height: auto; /* Автоматическая высота */
  }

  .float-img {
    width: 50%; /* Ширина изображения на 100% */
    height: auto; /* Автоматическая высота */
  }
}
@media (max-width: 590px) {
  .as__info-side {
    margin-top: 20px;
    max-width: 200%; /* Увеличение ширины для мобильных устройств */
    width: 200%;
    padding: 30px 15px; /* Уменьшение отступов */
    position: relative;
    left: -50px;
    font-size: 14px;
  }
  .as__toogle {
    max-width: 48%;
  }
}
@media (max-width: 480px) {
  .as__toogle {
    font-size: 12px; /* Уменьшение размера шрифта */
  }
  .r-item__title-info, .price {
    font-size: 18px; /* Уменьшение размера шрифта */
  }

  .as__info-side {
    padding: 20px 10px; /* Уменьшение отступов */
  }

  .as-item__type-build {
    font-size: 14px; /* Уменьшение размера шрифта */
  }

  .as-item__address {
    font-size: 12px; /* Уменьшение размера шрифта */
  }

  .as-item__categories {
    grid-template-columns: 1fr; /* Уменьшение количества колонок */
  }

  .as-item__categories span {
    font-size: 12px; /* Уменьшение размера шрифта */
  }

  .ab-info__content {
    min-height: 500px; /* Уменьшение минимальной высоты */
  }

  .ab-info__text {
    font-size: 18px; /* Уменьшение размера шрифта */
  }

  .cards-block__item {
    flex-direction: column; /* Изменение направления на колонку */
    align-items: center; /* Центрирование элементов */
    padding: 10px; /* Уменьшение отступов */
  }

  .cards-block__price {
    font-size: 24px; /* Уменьшение размера шрифта */
  }

  .cards-block__price-sqr {
    font-size: 18px; /* Уменьшение размера шрифта */
  }

  .percent-h2 {
    font-size: 32px; /* Уменьшение размера шрифта */
  }
}
