<main class="apartment-page">
  <div class="wrapper-back-banner"></div>
  <div class="container-main">
    <section class="apartment-section">
      <div class="row">
        <div class="col-8">
          <div class="as__gallery-side" data-id="{{ id }}">
            <div *ngIf="loading">Загрузка...</div>
            <div *ngIf="!loading">
              <h2 class="r-item__title-info px-3" style="margin-bottom: 30px">
                {{ rooms }}
              </h2>
            </div>
            <div
              class="btn-group"
              style="margin-bottom: 10px"
              role="group"
              aria-label="Basic radio toggle button group"
            >
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio1"
                autocomplete="off"
                checked
              />
              <label class="btn btn-outline-primary as__toogle" for="btnradio1"
                >Планировка</label
              >
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio2"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary as__toogle" for="btnradio2"
                >План этажа</label
              >
            </div>
            <div class="as__main-img" style="margin-bottom: 30px">
              <img [src]="imgPathMain" alt="picture" />
            </div>

            <div class="as__group-imgs">
              <img
                class="p-2"
                id="pic-n1"
                src="./assets/img/Group%2048.png"
                alt="picture"
                onclick="handleClick(1)"
              />
              <img
                class="p-2"
                id="pic-n2"
                src="./assets/img/Group%2048.png"
                alt="picture"
                onclick="handleClick(2)"
              />
              <img
                class="p-2"
                id="pic-n3"
                src="./assets/img/Group%2048.png"
                alt="picture"
                onclick="handleClick(3)"
              />
              <img
                class="p-2"
                id="pic-n4"
                src="./assets/img/Group%2048.png"
                alt="picture"
                onclick="handleClick(4)"
              />
              <img
                class="p-2"
                id="pic-n5"
                src="./assets/img/Group%2048.png"
                alt="picture"
                onclick="handleClick(5)"
              />
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="as__info-side">
            <div *ngIf="loading">Загрузка...</div>
            <div *ngIf="!loading">
              <div class="as__price-block">
                <div
                  *ngIf="apartment.price != null; else noprice"
                  class="price"
                >
                  {{ apartment.price | pricePipe }} ₽
                </div>
                <ng-template #noprice>
                  <div class="price-squad">Цена не указана</div>
                </ng-template>
                <div
                  *ngIf="apartment.priceSqmt != null; else nopricesqmt"
                  class="price-squad"
                >
                  {{ apartment.priceSqmt | pricePipe }}
                  <span> р/м<sup>2</sup></span>
                </div>
                <ng-template #nopricesqmt>
                  <div class="price-squad">
                    Цена за кв.м. не указана
                  </div></ng-template
                >
              </div>
            </div>
            <div class="as-info__items">
              <div *ngIf="loading">Загрузка...</div>
              <div *ngIf="!loading">
                <div
                  class="as-item__type-build"
                  *ngIf="apartment.rcomplexDto.houseType"
                >
                  Тип дома: {{ apartment.rcomplexDto.type_build }}
                </div>
                <div class="as-item__address">
                  {{ apartment.rcomplexDto.address }}
                </div>
                <div class="as-item__categories">
                  <div>Тип: . . . . . . . . . . . . . . . . . . . .</div>
                  <span>{{ apartment.apartmentType }} </span>
                  <div>Площадь: . . . . . . . . . . . . . .</div>
                  <span>{{ apartment.areaTotal }} м²</span>
                  <div>Кухня: . . . . . . . . . . . . . . . . .</div>
                  <span>{{ apartment.areaKitchen }} м²</span>
                  <div>Этаж: . . . . . . . . . . . . . . . . . .</div>
                  <span>{{ apartment.floor }}</span>
                  <div>Высота потолков: . . . . . . . .</div>
                  <span>{{ apartment.rcomplexDto.ceilingHeight }}</span>
                  <div>Наименование ЖК: . . . . . .</div>
                  <span>{{ apartment.rcomplexDto.name }}</span>
                  <div>Срок сдачи: . . . . . . . . . . . . .</div>
                  <span>{{ apartment.rcomplexDto.dueYear }}</span>
                  <div *ngIf="apartment.rcomplexDto.parking">
                    Парковка: . . . . . . . . . . . . . . .
                  </div>
                  <span *ngIf="apartment.rcomplexDto.parking">{{
                    apartment.rcomplexDto.parking
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="apartment-build-info">
      <h2 class="title">Особенности дома</h2>
      <div *ngIf="loading">Загрузка...</div>
      <div *ngIf="!loading">
        <div class="ab-info__content">
          <div class="row">
            <div class="col-12 d-flex flex-column justify-content-between">
              <div class="ab-info__text">
                <img
                  src="./assets/img/стел жк 10.png"
                  alt="Пример изображения"
                  class="float-img"
                />
                {{ apartment.rcomplexDto.info }}
              </div>
              <div class="ab-info__extend-info">
                <a
                  href="#"
                  [routerLink]="['/r-complex', apartment.rcomplexDto.id]"
                >
                  Подробнее
                </a>
              </div>
            </div>
            <!--            <div class="col-6">-->
            <!--              <div class="ab-info__img"></div>-->
            <!--            </div>-->
          </div>
          <div class="row px-3">
            <div
              id="map"
              style="margin: 0 auto; max-width: 634px; height: 250px"
            ></div>
          </div>
        </div>
      </div>
    </section>

    <section class="apartment-similar">
      <h2 class="title">Похожие квартиры</h2>
      <div class="d-flex flex-column">
        <ng-container *ngFor="let item of cards">
          <app-apartment-card [apartmentItem]="item"></app-apartment-card>
        </ng-container>
      </div>
      <div class="row justify-content-end mx-auto my-5 show-all">
        <button class="my-btn-long">Показать все</button>
        <ng-container *ngIf="pagination">
          <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="pagination.length"
            [pageSize]="pagination.pageSize"
            [pageIndex]="pagination.pageIndex"
            aria-label="выберете страницу"
          ></mat-paginator>
        </ng-container>
      </div>
    </section>
  </div>
</main>
