<section class="add-section">
  <div class="container">
    <div class="filtres">
      <h2>Новое обявление</h2>
      <div class="mx-2 my-3">
        <p> Выберите жилой комплекс</p>
        <select class="select-option" [(ngModel)]="selectedComplex">
          <option value="">Все ЖК</option>
          <option *ngFor="let complex of residentialComplexes" [value]="complex.id">
            {{ complex.name }}
          </option>
        </select>
      </div>
      <div class="mx-2 my-3">
        <div class="gallery">
          <!-- Загрузка фотографий -->
          <h4 class="title">Фото и планировка</h4>
          <div class="image-blocks">
            <div class="photo-item" *ngFor="let photo of photos; let i = index">
              <img [src]="photo.url" alt="Preview"/>
              <div class="button-group">
                <button (click)="removePhoto(i)">×</button>
                <button (click)="movePhoto(i, i - 1)" [disabled]="i === 0"><<</button>
                <button (click)="movePhoto(i, i + 1)" [disabled]="i === photos.length - 1">>></button>
              </div>
            </div>
          </div>

          <p class="info">
            На фото не должно быть людей, животных, алкоголя, табака, оружия. Не
            html добавляйте чужие фото, картинки с водяными знаками и рекламу.
            <span>JPG, PNG или GIF до 10Мб каждый</span>
          </p>
          <div class="upload-file">
            <input type="file" class="btn btn-primary" multiple (change)="onFileSelected($event)"
                   accept="image/gif,image/png,image/jpeg,image/pjpeg,image/heic"/>

          </div>
          <div>
            <!--  <button (click)="onUpload()" [disabled]="uploading">Upload</button>-->
            <!--  <img [src]="imageUrl" *ngIf="imageUrl" alt="Uploaded Image">-->
          </div>
        </div>
      </div>

      <div class="mx-2 my-3" *ngIf="addType == 'addApart'">
        <form (ngSubmit)="onSubmit()">
          <app-apartment-parametrs [apartment]="apartment"></app-apartment-parametrs>
          <button type="submit" class="save-change">Сохранить</button>
        </form>
      </div>
    </div>

  </div>
</section>
