<section class="politic-section">
  <div class="container">
    <div class="content">
      <h1>Правила пользования сайтом Цифровая недвижимость</h1>
      <p>
        Администрация предоставляет Вам как посетителю и/или пользователю Сайта
        (далее — Пользователю) доступ к самостоятельному использованию Сайта
        Цифровая недвижимость и его функционалу на условиях, являющихся
        предметом настоящих Правил пользования Сайтом Цифровая недвижимость. В
        этой связи, Вам необходимо внимательно ознакомиться с условиями
        настоящих Правил, которые рассматриваются Администрацией Сайта как
        публичная оферта в соответствии со ст. 437 Гражданского кодекса
        Российской Федерации.
      </p>
      <h2>1. Термины, используемые в настоящих Правилах</h2>
      <p>
        1.1. Сайт Цифровая недвижимость (или Сайт) — интернет-ресурс, состоящий
        из совокупности (а) Программы для ЭВМ Классифайд «Цифровая недвижимость»
        и (б) сервисов партнёров площадки. Сайт Цифровая недвижимость содержится
        в информационной системе, обеспечивающей доступность такой информации в
        сети Интернет по сетевому адресу (доменному имени): kvartiravcifrah.ru
        (включая все уровни указанного домена, как функционирующих на дату
        принятия Пользователем условий настоящих Правил, так и запускаемых и
        вводимых в эксплуатацию в течение всего срока его действия).
      </p>
      <p>
        1.2. Программы для ЭВМ Сайта Цифровая недвижимость (или Программы для
        ЭВМ) — представленные в объективной форме совокупности данных и команд,
        исполняющиеся на ЭВМ и визуально представленные в виде внешних
        интерфейсов, выполняющих функции систематизации и управления Базой
        данных Цифровая недвижимость.
      </p>
      <p>
        1.3. База данных Цифровая недвижимость (или База данных) —
        представленная в объективной форме совокупность текстовых и графических
        информационных материалов об объектах недвижимого имущества,
        содержащаяся на серверах Администрации (или серверах доступных
        Администрации на основе иных прав, отличных от права собственности) и
        систематизированная с помощью Программ для ЭВМ Сайта Цифровая
        недвижимость таким образом, что эти материалы могут быть найдены и
        обработаны Пользователем и третьими лицами с помощью ЭВМ.
      </p>
      <p>
        1.4. Верификация – процедура, позволяющая установить принадлежность
        конкретного номера телефона физическому лицу, посредством которой
        происходит регистрация на Сайте/вход в Аккаунт.
      </p>
      <p>
        1.5. Список тарифов — действующий перечень вариантов расчета величины
        лицензионного вознаграждения (с поименованными тарифными планами и их
        ценами), выплачиваемого Пользователем в пользу Администрации за право
        использования Программ для ЭВМ и Базы данных Цифровая недвижимость в
        соответствии с условиями лицензионного соглашения. Указанные цены
        являются ориентировочными, окончательный размер лицензионного
        вознаграждения определяется при оформлении карточки данных в зависимости
        от параметров объекта. Список тарифов является Приложением № 1 к
        лицензионному соглашению между Пользователем и Администрацией.
      </p>
      <p>
        1.6. Тариф — тарифный план, выбранный Пользователем из Списка тарифов с
        использованием своего Аккаунта и оплаченный им.
      </p>
      <p>
        1.7. Аккаунт — единая персональная часть Сайта Цифровая недвижимость,
        обеспечивающая функциональные возможности: (а) индивидуализации
        Пользователя среди других Пользователей Сайта Цифровая недвижимость; (б)
        реализации Пользователем прав использования Программ для ЭВМ и Базы
        данных Цифровая недвижимость на основании Лицензионного соглашения; (в)
        обмена данными, информацией и сообщениями между Пользователем и
        Администрацией; (г) осуществления Администрацией контроля за ходом
        реализации Пользователем права использования Программ для ЭВМ и Базы
        данных Цифровая недвижимость; (д) определения размера лицензионного
        вознаграждения Администрации по Лицензионному соглашению. Доступ к
        Аккаунту и его функциональным возможностям предоставляется Пользователю
        после его регистрации на Сайте Цифровая недвижимость.
      </p>
      <p>
        1.8. Биллинговая система — программный код, исполняющийся на ЭВМ и
        выполняющий функцию автоматизированного учёта фактов реализации
        Пользователем прав использования Программ для ЭВМ и Базы данных Цифровая
        недвижимость с целью расчета лицензионного вознаграждения Администрации
        по Лицензионному соглашению.
      </p>
      <p>
        1.9. Лицевой счет — виртуальный персональный счет Пользователя на Сайте
        Цифровая недвижимость, привязанный к его Аккаунту и отражающий в режиме
        реального времени данные Биллинговой системы о движении платежей по
        Лицензионному соглашению и данные об остатке Учетных единиц у
        Пользователя.
      </p>
      <p>
        1.10. Учетная единица — универсальная условная единица измерения объема
        прав использования Программ для ЭВМ и Базы данных Цифровая недвижимость
        по Лицензионному соглашению. Информация о количестве Учетных единиц на
        Лицевом счете отражается в Аккаунте Пользователя. Стоимость одной
        Учетной единицы, порядок их начисления и списания с Лицевого счета
        осуществляется в соответствии с Тарифом и условиями Лицензионного
        соглашения.
      </p>
      <p>
        1.11. Сервис Сайта (или Сервис) – отдельно выделенные функциональные
        инструментарии обмена данными на Сайте, позволяющие при выполнении
        определенных требований использовать расширенные возможности Сайта, в
        т.ч. по взаимодействию с привлекаемыми Администрацией Сайта Партнерами
        (третьими лицами).
      </p>
      <p>
        1.12. Правила — текст настоящих Правил пользования Сайтом Цифровая
        недвижимость.
      </p>
      <p>
        1.13. Стороны — Администрация Сайта (или Лицензиар) и Пользователь (или
        Лицензиат) в настоящих Правилах.
      </p>
      <h2>2. Статус Правил пользования Сайтом Цифровая недвижимость</h2>
      <p>
        2.1. Настоящие Правила разработаны Администрацией и определяют условия
        использования Сайта, а также права и обязанности их Пользователей и
        Администрации. Правила распространяются также на отношения, связанные с
        правами и интересами третьих лиц, не являющимися Пользователями Сайта,
        но чьи права и интересы могут быть затронуты в результате действий
        Пользователей Сайта.
      </p>
      <p>
        2.2. Настоящие Правила являются юридически обязательным соглашением
        между Пользователем и Администрацией Сайта, предметом которого является
        предоставление Администрацией Пользователю доступа к использованию Сайта
        и его функционала. Помимо настоящих Правил, к соглашению между
        Пользователем и Администрацией Сайта относятся любые иные правила
        (специальные документы), регламентирующие порядок и характер
        предоставления доступа к использованию Программ для ЭВМ и Базы данных
        Цифровая недвижимость.
      </p>
      <p>
        2.3. Пользователь обязан полностью ознакомиться с настоящими Правилами
        до момента начала использования Сайта, его Сервисов. Начиная
        использовать Сайт, какой-либо сервис/его отдельные функции, Пользователь
        считается принявшим условия настоящих Правил в полном объеме, без всяких
        оговорок и исключений в соответствии со ст.438 Гражданского кодекса
        Российской Федерации. В случае несогласия Пользователя с какими-либо из
        положений Правил, Пользователь не вправе использовать Сайт или сервисы
        Сайта. В случае если Администрацией Сайта были внесены какие-либо
        изменения в Правила в порядке, предусмотренном пунктом
      </p>
      <p>
        2.4 Правил, с которыми Пользователь не согласен, он обязан прекратить
        использование Сайта, сервисов Сайта. 2.4. Настоящие Правила могут быть
        изменены Администрацией в любое время без какого-либо уведомления об
        этом Пользователя. Новая редакция Правил вступает в силу с момента её
        размещения на Сайте, если в тексте Правил не указана иная дата
        вступления в силу новых условий.
      </p>
      <p>
        2.5. Настоящие Правила являются открытым и общедоступным документом.
        Пользователь обязуется регулярно самостоятельно проверять условия
        настоящих Правил на предмет их изменения и/или дополнения. Продолжение
        использования Сайта Пользователем после вступления в силу изменений
        и/или дополнений в настоящие Правила означает принятие и согласие
        Пользователя с такими изменениями и/или дополнениями.
      </p>
      <h2>3. Статус Сайта Цифровая недвижимость</h2>
      <p>
        3.1. Права на Сайт в целом и на использование сетевого адреса (доменного
        имени) принадлежат Администрации Сайта. Последняя предоставляет доступ к
        Сайту всем заинтересованным лицам в соответствии с настоящими Правилами
        и действующим законодательством Российской Федерации.
      </p>
      <h2>4. Администрация Сайта Цифровая недвижимость</h2>
      <p>
        4.1. Под Администрацией Сайта Цифровая недвижимость в настоящих Правилах
        и иных специальных документах, размещенных на Сайте, понимается Общество
        с ограниченной ответственностью «Стэл.Цифровые решения», ОГРН
        1233600009642, ИНН 3662305105.
      </p>
      <p>
        4.2. Обращения, предложения и претензии физических и юридических лиц к
        Администрации Сайта в связи с настоящими Правилами и/или в связи с
        функционированием и использованием Сайта, а также для запросов,
        уполномоченных законодательством Российской Федерации лиц могут быть
        направлены на адрес Администрации: Россия, Воронежская обл, г.о. город
        Воронеж, г Воронеж, пр-кт Московский, д. 109А, офис 3, помещ. II.
      </p>
      <p>
        4.3. В отношении функционирования Сайта Администрация руководствуется
        законодательством Российской Федерации, настоящими Правилами и иными
        специальными документами, которые разработаны или могут быть разработаны
        и приняты Администрацией Сайта в целях регламентации предоставления
        Пользователям доступа к отдельному функционалу Сайта.
      </p>
      <p>
        4.4. Никакие положения настоящих Правил не предоставляют Пользователю
        право на использование фирменного наименования, товарных знаков,
        доменных имен и иных отличительных знаков Администрации Сайта. Право на
        использование фирменного наименования, товарных знаков, доменных имен и
        иных отличительных знаков Администрации Сайта может быть предоставлено
        исключительно по предварительному письменному соглашению с
        Администрацией Сайта.
      </p>
      <h2>
        5. Пользователь Сайта Цифровая недвижимость, его регистрация на Сайте и
        акцепт Тарифа
      </h2>
      <p>
        5.1. Пользователем Сайта является дееспособное физическое лицо или
        правоспособное юридическое лицо начавшее использовать Сайт. Для того,
        чтобы воспользоваться некоторыми функциями Сайта или Сервисами,
        Пользователю необходимо пройти процедуру регистрации, в результате
        которой для Пользователя будет создана уникальная учетная запись.
      </p>
      <p>
        5.2. Регистрация на Сайте является бесплатной, добровольной и может быть
        произведена путем совершения Пользователем следующих действий:
      </p>
      <p>
        5.2.1 Подписание пользовательского соглашения и Лицензионного соглашения
        в ходе очной встречи с представителем Администрации;
      </p>
      <p>5.2.2 Регистрация личного кабинета на Сайте.</p>
      <p>
        5.3. При заполнении формы регистрации на Сайте Пользователь обязан
        предоставить Администрации достоверную и актуальную информацию.
        Регистрационная форма Сайта может запрашивать у Пользователя
        дополнительную информацию.
      </p>
      <p>
        5.4. Пользователь несет ответственность за достоверность, актуальность,
        полноту и соответствие законодательству Российской Федерации
        предоставленной при регистрации информации и ее чистоту от претензий
        третьих лиц.
      </p>
      <p>
        5.5. Пользователь, который ввел верную комбинацию логина и пароля для
        авторизации на Сайте код признается владельцем аккаунта на Сайте.
      </p>
      <p>
        5.6.2. выбора Пользователем соответствующего его волеизъявлению Тарифа
        из действующего Списка тарифов и последующего нажатия на кнопку «Перейти
        на этот тариф».
      </p>
      <p>
        5.7. Акцепт Тарифа «Некоммерческий» производится Пользователем
        автоматически после его регистрации на Сайте Цифровая недвижимость.
      </p>
      <p>
        5.8. Если Пользователем не доказано обратное, любые действия,
        совершенные с использованием его Аккаунта, считаются совершенными
        соответствующим Пользователем. В случае несанкционированного доступа к
        Аккаунту Пользователя он обязан незамедлительно сообщить об этом
        Администрации Сайта в установленном порядке.
      </p>
      <p>
        5.9. Пользователь Сайта, используя Сайт, дает свое согласие на
        использование Сайтом его IP адреса, cookie и данных геолокации в
        маркетинговых и статистических целях с момента начала пользования Сайтом
        и ознакомления с настоящим Соглашением, в случае несогласия с данным
        условием Пользователь должен покинуть Сайт.
      </p>
      <h2>6. Права и обязанности Администрации</h2>
      <p>6.1. Администрация обязуется:</p>
      <p>
        6.1.1. поддерживать нормальную работу Сайта, автоматизированной системы
        регистрации Пользователя на Сайте;
      </p>
      <p>
        6.1.6. в случае изменения наименования Администрации, а также иных его
        реквизитов, включая банковские, незамедлительно уведомлять об этом
        Пользователя путем внесения изменения в соответствующую часть настоящих
        Правил и публикации новой редакции Правил.
      </p>
      <p>
        6.1.7. предоставить Пользователю возможность реализации прав
        использования Программ для ЭВМ и Базы данных Цифровая недвижимость в
        соответствии с условиями настоящих Правил, Лицензионного соглашения и
        акцептованного Пользователем Тарифа;
      </p>
      <p>6.2. Администрация вправе:</p>
      <p>
        6.2.1. вносить изменения в настоящие Правила, Список тарифов и
        Лицензионное соглашение в одностороннем порядке;
      </p>
      <p>
        6.2.2. в любое время ограничить возможность или отказать Пользователю в
        предоставлении возможности использовать функциональные возможности Сайта
        Цифровая недвижимость, в том числе путем удаления Аккаунта Пользователя
        или блокировки доступа Пользователя к нему, с одновременным удалением
        информационных материалов Пользователя из Базы данных Цифровая
        недвижимость, их блокировкой или без такового. Указанное в настоящем
        пункте право применяется Администрацией без осуществления возврата
        денежных средств в случае нарушения Пользователем настоящих Правил, а
        также если:
      </p>
      <p>
        6.2.2.1. Пользователь создает угрозу безопасности и обороноспособности
        РФ, здоровью и безопасности людей на территории РФ;
      </p>
      <p>
        6.2.2.2. предоставление возможности использования функциональных
        возможностей Сайта Цифровая недвижимость невозможно из-за физических,
        топографических или иных естественных препятствий;
      </p>
      <p>
        6.2.2.3. Пользователь осуществляет использование функциональных
        возможностей Сайта Цифровая недвижимость незаконно или незаконным
        способом, нанося тем самым ущерб Администрации и/или третьим лицам
        (включая незарегистрированных посетителей Сайта Цифровая недвижимость).
        Данный пункт помимо прочего включает также: (а) любые попытки совершения
        мошеннических действий или иных действий с использованием функциональных
        возможностей Сайта Цифровая недвижимость, направленных на введение
        других Пользователей и/или третьих лиц в заблуждение; (б) любые попытки
        указания Пользователем способов установления контакта с ним,
        предусматривающих взимание провайдером связи дополнительной платы (в
        пользу такого Пользователя или третьего лица), выходящей за рамки
        обычного тарифа за услуги такого вида связи;
      </p>
      <p>
        6.2.2.4. Пользователь совершает иные действия, препятствующие, по мнению
        Администрации, нормальному функционированию Сайта Цифровая недвижимость;
      </p>
      <p>
        6.2.3. самостоятельно осуществлять защиту собственных прав и законных
        интересов, как обладателя прав на самостоятельные результаты
        интеллектуальной деятельности (переработанные Администрацией
        произведения) от своего имени и без привлечения Пользователя;
      </p>
      <p>
        6.2.4. По своему усмотрению организовывать работу Программ для ЭВМ и
        Базы данных Цифровая недвижимость;
      </p>
      <p>
        6.2.5. для целей исполнения настоящих Правил обрабатывать персональные
        данные Пользователя, предоставленные им при осуществлении регистрации на
        Сайте Цифровая недвижимость или при использовании Сервисов Сайта;
      </p>
      <p>
        6.2.6. безвозмездно и бессрочно использовать любым законным способом
        информационные материалы Пользователя (без изменения их содержания, за
        исключением случаев, предусмотренных настоящими Правилами) для целей
        исполнения настоящих Правил и Лицензионного соглашения, и/или их
        размещения в Базе данных Цифровая недвижимость, включая размещение на
        иных Интернет-площадках/Интернет-сайтах, использование в статьях и
        аналитических обзорах;
      </p>
      <p>
        6.2.6.1. безвозмездно и бессрочно использовать любым законным способом,
        в т.ч. но не ограничиваясь путем размещения на Сайте Цифровая
        недвижимость, комментарии, вопросы и иные материалы, размещенные
        Пользователем в Базе данных Цифровая недвижимость. В целях сохранения
        полной Базы данных, Пользователь не может отозвать размещенные им
        материалы и требовать их удаления у Администрации Сайта.
      </p>
      <p>
        6.2.7. В аналитических целях, в том числе, но не ограничиваясь, в целях
        замера эффективности, отслеживания последующего использования третьими
        лицами загружаемых Пользователем информационных материалов, вносить
        дополнения в информацию Пользователя без искажения смысловой
        составляющей загружаемой информации, в том числе осуществлять подмену
        телефонного номера без изменения конечного абонентского номера,
        указанного при загрузке информационных материалов (подключение опции
        колл-трекинга); при этом Администрация вправе производить запись
        телефонных разговоров, о чем пользователь получает предупреждение перед
        началом разговора, Продолжая телефонный разговор Пользователь
        соглашается на запись телефонных переговоров.
      </p>
      <p>
        6.2.8. удалить загружаемую Пользователем в базу данных информацию и/или
        прекратить доступ Пользователя к её загрузке, нарушающего настоящие
        Правила, в любой момент, без предварительного уведомления и
        исключительно по своему усмотрению. если Администрации станет известно о
        нарушении Пользователем настоящих Правил;
      </p>
      <p>
        6.2.10 хранить e-mail Пользователя, указанный при использовании Сайта,
        Сервисов или на который зарегистрирован его Аккаунт, без сохранения иных
        данных, позволяющих идентифицировать Пользователя как физическое лицо, в
        случае удаления Аккаунта Пользователя по инициативе Администрации или
        самого Пользователя;
      </p>
      <p>
        6.2.11. пользоваться иными правами, предоставленными Администрации
        настоящими Правилами и действующим законодательством Российской
        Федерации.
      </p>
      <h2>7. Права и обязанности Пользователя</h2>
      <p>7.1. Пользователь обязуется:</p>
      <p>
        7.1.1. до момента принятия настоящих Правил внимательно ознакомиться с
        их условиями;
      </p>
      <p>
        7.1.2. соблюдать положения действующего законодательства Российской
        Федерации, настоящих Правил и положения иных специальных документов
        Администрации Сайта Цифровая недвижимость;
      </p>
      <p>
        7.1.3. не передавать полученные в соответствии с настоящими Правилами
        права какому-либо третьему лицу без предварительного письменного
        согласия Администрации;
      </p>
      <p>
        7.1.4. предоставлять при использовании Сайта, Сервисов достоверные,
        полные и актуальные данные, следить за их актуализацией;
      </p>
      <p>
        7.1.5. информировать Администрацию о несанкционированном доступе к
        Аккаунту Пользователя и/или его Лицевому счету;
      </p>
      <p>
        7.1.6. предоставить Администрации при внесении (загрузке) информации в
        Базу данных Цифровая недвижимость неисключительную, безвозмездную
        лицензию, с правом сублицензирования, на использование внесенной
        информации на территории Российской Федерации и других стран мира, в
        частности, права на воспроизведение, распространение, переработку или
        создание из него производных произведений, публичный показ, доведение до
        всеобщего сведения, а также публичное исполнение подобной информации, в
        том числе использование в рекламе, продвижение и распространение
        полностью или частично (а также ее производных произведений) в любых
        медийных форматах (и по любым медийным каналам); указанная лицензия
        считается предоставленной Пользователем в момент внесения (загрузки)
        информации в Базу данных Цифровая недвижимость.
      </p>
      <p>
        7.1.7. регулярно осуществлять ознакомление с действующей редакцией
        настоящих Правил.
      </p>
      <p>7.2. Пользователю запрещается:</p>
      <p>
        7.2.1. осуществлять действия, направленные на нарушение нормального
        функционирования Сайтов;
      </p>
      <p>
        7.2.2. загружать, хранить, публиковать, распространять и предоставлять
        доступ или иным образом использовать вирусы, трояны и другие вредоносные
        программы;
      </p>
      <p>
        7.2.3. использовать без специального на то разрешения Администрации
        Сайта Цифровая недвижимость автоматизированные скрипты (программы) для
        сбора информации на Сайте и/или взаимодействия с Сайтом и его
        функционалом;
      </p>
      <p>
        7.2.4. любым способом, в том числе, но не ограничиваясь, путем обмана,
        злоупотребления доверием, взлома, пытаться получить доступ к Аккаунту
        или персональным данным другого Пользователя;
      </p>
      <p>
        7.2.5. осуществлять использование Сайта иным способом, кроме как через
        интерфейсы, предоставленные Администрацией Сайта, за исключением
        случаев, когда такие действия были прямо разрешены Пользователю в
        соответствии с отдельным соглашением с Администрацией;
      </p>
      <p>
        7.2.6. вносить изменения в Базу данных Цифровая недвижимость с
        использованием объектов нарушающих предусмотренные законодательством
        права третьих лиц или неопределенного круга лиц (в том числе, но не
        ограничиваясь, заимствованные без получения согласия правообладателя
        материалы, в том числе фотографии, тексты и др.);
      </p>
      <p>
        7.2.7. использовать автоматические и иные программы, не разрешенные
        Администрацией Сайта Цифровая недвижимость для получения доступа к Сайту
        Цифровая недвижимость, а также без соответствующего согласования с
        Администрацией Сайта Цифровая недвижимость извлекать любым способом,
        копировать, распространять и иным образом использовать информационные
        материалы Базы данных Цифровая недвижимость.
      </p>
      <p>7.3. Пользователь вправе:</p>
      <p>
        7.3.1. пользоваться технической поддержкой Сайта в порядке и на
        условиях, определенных в настоящих Правилах;
      </p>
      <p>
        7.3.2. пользоваться иными правами, предоставленными ему настоящими
        Правилами и действующим законодательством Российской Федерации.
      </p>
      <p>7.4. Пользователь не вправе:</p>
      <p>
        7.4.3. осуществлять передачу контактных данных (номеров телефонов,
        гиперссылок для перехода на сторонние ресурсы) в целях осуществления
        коммерческой деятельности по продвижению информационно-консультационных
        и иных услуг, включая, но не ограничиваясь, услугами посредничества при
        совершении сделок с недвижимым имуществом, распространения любой
        рекламной информации;
      </p>
      <p>
        7.4.4. вносить в Базу данных Цифровая недвижимость информацию,
        содержащую материалы, на которые распространяются авторские права либо
        иные права третьей стороны, (включая право на неприкосновенность частной
        жизни или право на изображение гражданина), если у Пользователя
        отсутствует на это согласие или разрешение от правообладателя, либо
        иного юридически обоснованного права, чтобы загружать такие материалы в
        Базу данных Цифровая недвижимость, в том числе делать его общедоступным.
      </p>
      <h2>8. Техническая поддержка</h2>
      <p>
        8.1. Запросы и претензии, связанные с использованием Пользователем
        функциональных возможностей Сайта, должны передаваться Администрации в
        любое время суток по электронной почте на адрес электронной почты:
        dsztelinvest.ru.
      </p>
      <p>
        8.2. При осуществлении технической поддержки Администрация вправе
        требовать от Пользователя подтверждения принадлежности ему Аккаунта
        путем предъявления требования о сообщении службе поддержки Администрации
        регистрационных данных Пользователя, а в случае несообщения таких данных
        — отказать обратившемуся в технической поддержке, если таковая требует
        совершения действий с конкретным Аккаунтом Пользователя.
      </p>
      <h2>9.Обработка персональных данных</h2>
      <p>
        9.1. Используя Программы для ЭВМ Цифровая недвижимость, отдельные
        Сервисы и/или регистрируясь на сайте Пользователь (физическое лицо или
        представитель юридического лица) тем самым свободно, своей волей и в
        своем интересе предоставляет свои персональные данные Администрации для
        их обработки.
      </p>
      <p>
        9.2. Под обработкой персональных данных понимаются предусмотренные
        Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных»
        действия или совокупность действий, совершаемых с использованием средств
        автоматизации или без использования таких средств с персональными
        данными, включая сбор, запись, систематизацию, накопление, хранение,
        уточнение (обновление, изменение), извлечение, использование, передачу
        (распространение, предоставление, доступ) удаление, уничтожение
        персональных данных.
      </p>
      <p>
        9.3. Обработка персональных данных Пользователя, являющегося физическим
        лицом, осуществляется в целях исполнения настоящих Правил, включая:
      </p>
      <p>
        9.3.1. Регистрация Пользователя, оказание услуг Пользователю и
        предоставление Пользователю возможности осуществления контактов по теме
        поданных объявлений. Для достижения данной цели обработке подлежат: ФИО,
        идентификатор, адрес электронной почты, номер мобильного телефона, адрес
        проживания, дата рождения, паспортные данные, фотография пользователя.
      </p>
      <p>
        9.3.1.1. Регистрация Пользователя, оказание услуг Пользователю и
        предоставление Пользователю возможности осуществления контактов и обмена
        номерами для целей анализа и отбора объектов недвижимости исключительно
        для личных и семейных нужд, не связанных с осуществлением коммерческой
        деятельности по продвижению информационно-консультационных и иных услуг,
        распространения любой  рекламной информации. Для достижения данной цели
        обработке подлежат: ФИО, идентификатор, адрес электронной почты, номер
        мобильного телефона, адрес проживания, дата рождения, паспортные данные,
        фотография пользователя.
      </p>
      <p>
        9.3.2. Осуществление клиентской поддержки. Для достижения данной цели
        обработке подлежат: ФИО, адрес электронной почты, номер мобильного
        телефона, идентификатор Пользователя, покупки.
      </p>
      <p>
        9.3.3. Контроль качества представленных на Сайте объявлений. Для
        достижения данной цели обработке подлежат: ФИО, паспортные данные, дата
        и место рождения, адрес регистрации, сведения о составе семьи, ИНН,
        фотография, кадастровый номер объекта недвижимости, фамилия, имя и
        отчество владельца недвижимости.
      </p>
      <p>
        9.3.4. Обработка запросов, поступающих от государственных органов. Для
        достижения данной цели обработке подлежат: ФИО, номер телефона, адрес
        электронной почты, IP.
      </p>
      <p>
        9.3.5. Организация таргетированной рекламы и рассылок. Для достижения
        данной цели обработке подлежат: ФИО, адрес электронной почты, номер
        телефона, идентификатор пользователя.
      </p>
      <p>
        9.3.6. Доступ и использование функциональных возможностей Сервисов
        Сайта. В зависимости от используемого Сервиса обработке подлежат: ФИО,
        адрес электронной почты, номер телефона, идентификатор пользователя,
        доступ к контактным данным телефонной книги (при формировании контактных
        данных в личном кабинете Сайта).
      </p>
      <p>
        9.4. Обработка персональных данных представителей Пользователя,
        являющегося юридическим лицом, осуществляется в целях исполнения
        настоящих Правил, включая:
      </p>
      <p>
        9.4.1. Учет представителей партнеров для последующей коммуникации и
        проведения аналитики отдела продаж. Для достижения данной цели обработке
        подлежат: ФИО, идентификатор, адрес электронной почты, номер телефона,
        покупки, иные метрики.
      </p>
      <p>
        9.4.2. Осуществление клиентской поддержки. Для достижения данной цели
        обработки подлежат: ФИО, место работы, адрес электронной почты, номер
        телефона.
      </p>
      <p>
        9.4.3. Контроль качества представленных на Сайте объявлений. Для
        достижения данной цели обработке подлежат: ФИО, место работы и адрес
        офиса, адрес электронной почты, номер телефона, фотография.
      </p>
      <p>
        9.4.4. Доступ и использование функциональных возможностей Сервисов
        Сайта. В зависимости от используемого Сервиса обработке подлежат: ФИО,
        адрес электронной почты, номер телефона, идентификатор пользователя,
        доступ к контактным данным телефонной книги (при формировании контактных
        данных в личном кабинете Сайта).
      </p>
      <p>
        9.5. Для достижения целей, определенных в настоящих Правилах,
        Администрация может осуществлять передачу персональных данных
        Пользователя третьим лицам. Передача персональных данных третьим лицам
        осуществляется в объеме, необходимом для целей их обработки. К третьим
        лицам, которым Администрация может осуществлять передачу персональных
        данных Пользователя относятся: риелторские агентства (при использовании
        услуги поиска риелтора), поставщики услуг связи, поставщики услуг
        рассылки информационных и рекламных материалов (в случае подписки
        Пользователя на указанные рассылки), партнеры, предоставляющие
        Администрации услуги по использованию информационных сервисов,
        аффилированным лицам Сайта, лицам, действующим по поручению
        Администрации, иным третьим лицам, передача данных которым необходима
        для выполнения обязательств Администрации перед Пользователем в
        соответствии с настоящими Правилами. Передача персональных данных
        третьим лицам осуществляется в рамках заключенных с третьими лицами
        договоров, включающих обязательства о сохранении конфиденциальности
        полученных данных. Передача персональных данных может осуществляться, в
        том числе, на территории иностранных государств.
      </p>
      <p>
        9.6. Публикуя на Сайте объявления, Пользователь тем самым заявляет о
        своем согласии на размещение в открытом доступе персональных и иных
        сведений, содержащихся в объявлении.
      </p>
      <p>
        9.7. Обработка персональных данных Пользователя осуществляется в течение
        сроков действия настоящих Правил и до истечения сроков хранения
        соответствующих данных, определяемых в соответствии с действующим
        законодательством Российской Федерации. Для прекращения обработки
        персональных данных Администрацией, необходимо отказаться от настоящих
        Правил и прекратить использование Сайта, Сервисов, при этом персональные
        данные Пользователя могут обрабатываться и после прекращения
        использования Сайта и отказа от настоящих Правил в течение срока,
        необходимого для выполнения обязательств, возложенных на Администрацию в
        соответствии с законодательством Российской Федерации. В таком случае
        обработка персональных данных будет осуществляться в объеме, необходимом
        для соблюдения указанных обязательств.
      </p>

      <h2>
        10. Функционирование Сайта и ответственность Сторон при их использовании
      </h2>
      <p>
        10.1. Пользователи несут ответственность за собственные действия в связи
        с использованием Сайта и их функциональных возможностей. Нарушение
        настоящих Правил и действующего законодательства Российской Федерации
        влечет за собой ответственность, предусмотренную законодательством
        Российской Федерации.
      </p>
      <p>
        10.2. Администрация сохраняет за собой право в любое время изменять
        оформление Сайта, их содержание, функционал, изменять или дополнять
        используемые скрипты, программное обеспечение и другие объекты,
        используемые или хранящиеся на Сайте.
      </p>
      <p>
        10.3. Администрация Сайта не занимается предварительной модерацией или
        цензурой информации Пользователей и предпринимает действия по защите
        прав и интересов лиц и обеспечению соблюдения требований
        законодательства Российской Федерации только после обращения
        заинтересованного лица к Администрации Сайта в установленном порядке.
      </p>
      <p>
        10.4. Администрация Сайта обеспечивает функционирование и
        работоспособность Сайта и обязуется оперативно восстанавливать их
        работоспособность в случае технических сбоев и перерывов. Администрация
        Сайта не несет ответственности за временные сбои и перерывы в работе
        Сайта и вызванные ими потерю информации. Администрация не несет
        ответственности за любой ущерб компьютеру Пользователя или иного лица,
        мобильным устройствам, любому другому оборудованию или программному
        обеспечению, вызванный или связанный со скачиванием материалов с Сайта
        или по ссылкам, размещенным на Сайте.
      </p>
      <p>
        10.5. Администрация не несет ответственности перед Пользователем и
        третьими лицами (в том числе незарегистрированными посетителями Сайтов)
        за невозможность использования Сайта по каким-либо независящим от
        Администрации причинам, включая, но не ограничиваясь, за нарушение
        работы линий связи, за неисправность оборудования и/или задержки и
        перебои в работе Сайта, происходящие прямо или косвенно по причине,
        которая находится вне компетенции и контроля со стороны Администрации.
      </p>
      <p>
        10.6. Администрация отвечает за ущерб, понесенный Пользователем в
        результате использования или не использования Сайта  только, если будет
        доказано прямое виновное действие (бездействие) Администрации,
        совершенное с прямым умыслом, направленным на причинение ущерба
        Пользователю.
      </p>
      <p>
        10.7. Администрация Сайта имеет право собирать и по своему усмотрению
        распоряжаться любой статистической информацией, связанной с
        функционированием Сайта.
      </p>
      <p>
        10.8. Администрация Сайта имеет право направлять Пользователю информацию
        о развитии Сайта и их функционала, а также сообщать иную новостную
        информацию, связанную с Сайтом.
      </p>
      <p>10.9. Ограничение ответственности Администрации Сайта:</p>
      <p>
        10.9.1. Сайт и все его составляющие поставляются в состоянии «как есть».
        Администрация отказывается от всяких гарантий того, что Сайт или их
        функционал могут подходить или не подходить для конкретных целей
        использования. Администрация не может гарантировать и не обещает никаких
        специфических результатов от использования Сайта и/или их функционала;
      </p>
      <p>
        10.9.2. Во избежание недоразумений Пользователю следует соблюдать меры
        предосторожности в скачивании с Сайта или по размещенным на нем ссылкам,
        и использовании любых файлов, в том числе программного обеспечения.
        Администрация Сайта настоятельно рекомендует использовать только
        лицензионное, в том числе антивирусное, программное обеспечение;
      </p>
      <p>
        10.9.3. Пользователь соглашается с тем, что любые действия по
        использованию Сайта и его функционала он совершает на свой собственный
        риск и несет личную ответственность за возможные последствия
        использования Сайта и его функционала, в том числе за ущерб, который
        может в связи с этим быть причинен компьютеру Пользователя или третьим
        лицам, за потерю данных или любой другой вред;
      </p>
      <p>
        10.9.4. Ни при каких обстоятельствах Администрация Сайта или ее
        представители не несут ответственность перед Пользователем или перед
        любыми третьими лицами за любой косвенный, случайный, неумышленный
        ущерб, включая упущенную выгоду или потерянные данные, вред чести,
        достоинству или деловой репутации, связанный с использованием Сайта,
        содержимого Сайта или иных материалов, к которым Пользователь и/или иные
        лица получили доступ с помощью Сайта, даже если Администрация Сайта
        предупреждала или указывала на возможность такого вреда, а также за
        высказывания Пользователя, опубликованные посредством использования
        Программ для ЭВМ или Базы данных.
      </p>
      <p>
        10.10. Пользователь обязуется своими силами и за свой счет разрешать все
        споры и урегулировать все претензии и/или иски третьих лиц, предписания
        и требования уполномоченных государственных и муниципальных органов
        власти, поступившие как в адрес Пользователя, так и в адрес
        Администрации, предъявленные в связи с использованием Пользователем
        Сайта и их функционала, а также возместить все убытки и расходы,
        понесенные Администрацией в связи с такими претензиями и/или исками.
      </p>
      <h2>11. Обстоятельства непреодолимой силы (форс-мажор)</h2>
      <p>
        11.1. Каждая из Сторон освобождается от ответственности за частичное или
        полное неисполнение обязательств по настоящим Правилам, если она
        докажет, что оно явилось следствием обстоятельств непреодолимой силы,
        возникших после принятия Пользователем Правил в результате событий
        чрезвычайного характера, таких как: пожар, взрыв, наводнение,
        землетрясение, забастовка, боевые действия, постановления Правительства
        или Президента Российской Федерации, федеральных и местных органов
        власти и других обстоятельств непреодолимой силы, которые Сторона не
        могла ни предвидеть, ни предотвратить, ни принять обстоятельства в
        расчет при принятии Пользователем настоящих Правил.
      </p>
      <p>
        11.2. Освобождение от ответственности действует лишь на тот период, в
        течение которого существуют данные обстоятельства непреодолимой силы и
        их последствия.
      </p>
      <p>11.3. При наступлении и прекращении обстоятельств, указанных в п.</p>
      <p>
        11.1 настоящих Правил, Сторона должна без промедления известить о них в
        письменной форме другую Сторону.
      </p>
      <p>
        11.4. Извещение должно содержать данные о характере обстоятельств, а
        также официальные документы, удостоверяющие наличие этих обстоятельств и
        по возможности, дающие оценку их влияния на возможность исполнения
        Стороной своих обязательств по настоящим Правилам, а также
        предполагаемый срок его исполнения.
      </p>
      <p>
        11.5. Наличие обстоятельств непреодолимой силы, их влияние и
        продолжительность действия должны быть подтверждены документально
        должностным лицом компетентного органа или представителем Стороны.
      </p>
      <p>
        11.6. В вышеуказанных случаях срок исполнения Сторонами обязательств по
        настоящим Правилам увеличивается соразмерно времени, в течение которого
        действуют такие обстоятельства и их последствия.
      </p>
      <p>11.7. Если наступившие перечисленные в п.</p>
      <p>
        11.1 обстоятельства и их последствия продолжают действовать более двух
        месяцев, то Стороны проводят дополнительные переговоры для выявления
        приемлемых альтернативных способов исполнения настоящих Правил.
      </p>
      <p>
        11.8. В случае если такие обстоятельства продолжают действовать шесть и
        более месяцев, каждая из Сторон имеет право отказаться от исполнения
        обязательств по настоящим Правилам.
      </p>
      <h2>12. Заключительные положения</h2>
      <p>
        12.1. Настоящие Правила составляют соглашение между Пользователем и
        Администрацией относительно порядка использования Сайта и его
        функционала и заменяют собой все предыдущие соглашения между
        Пользователем и Администрацией.
      </p>
      <p>
        12.2. Настоящие Правила регулируются и толкуются в соответствии с
        законодательством Российской Федерации. Вопросы, не урегулированные
        Правилами, подлежат разрешению в соответствии с законодательством
        Российской Федерации.
      </p>
      <p>
        12.3. В случае возникновения любых споров или разногласий, связанных с
        исполнением настоящих Правил, Пользователь и Администрация Сайта
        приложат все усилия для их разрешения путем проведения переговоров между
        ними. В случае, если споры не будут разрешены путем переговоров, они
        передаются на рассмотрение Арбитражного суда г. Москвы.
      </p>
      <p>
        12.4. Настоящие Правила вступают в силу для Пользователя с момента их
        принятия им и действуют в течение неопределенного срока.
      </p>
      <p>12.5. Настоящие Правила составлены на русском языке.</p>
      <p>
        12.6. Если по тем или иным причинам одно или несколько положений
        настоящих Правил будут признаны недействительными или не имеющими
        юридической силы, это не оказывает влияния на действительность или
        применимость остальных положений.
      </p>
      <p>
        12.7. Настоящие Правила в данной редакции вступают в силу с 01 апреля
        2024 г.
      </p>
    </div>
  </div>
</section>
