.gk-page section {
  margin-bottom: 100px;
}

.gk-header {
}

.gk-banner {
  height: 466px;
  position: relative;
  top: 40px;
  margin-bottom: 100px;
}

.gk-banner__back {
  background-image: url("/assets/img/стел жк 11.png");
  border-radius: 30px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: relative;
}

.gk-banner__bageLogo {
  position: absolute;
  background: #f4f4f4;
  border-radius: 10px;
  width: 137px;
  height: 110px;
  margin-left: 30px;
  border: 0;
  top: -23px;
  right: 103px;
}

.gk-title {
  margin-bottom: 100px;
}

.gk-title__company {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 80px;
  color: #000;
}

.gk-title__district,
.gk-title__address {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 40px;
  color: #000;
}

.gk-project {
  min-height: 500px;
  background: rgba(16, 102, 129, 0.05);
}

.gk-project__content {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 25px;
  color: #000;
  line-height: 130%;
}

.gk-project__rate {
  width: 450px;
  height: 413px;
  display: block;
  position: relative;
  top: -144px;
  left: 0;
}

.features {
}

.features__list {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.features__list .nav-pills .nav-link {
  border-radius: 30px;
  font-weight: 300;
  font-size: 20px;
  color: #000;
}

.features__list .nav-pills .nav-link.active {
  border-radius: 30px;
  background: rgba(39, 116, 124, 0.2);
}

.features__details {
  min-height: 413px;
}

.details__item {
  border-radius: 50px;
  width: 100%;
  min-height: 413px;
  background: rgba(16, 102, 129, 0.05);
}

.details__item__img {
  background-image: url("/assets/img/площадки 1.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: top center;
  background-size: 100%;
  border-radius: 50px;
  border: 0;
  height: 100%;
}

.details__item__info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 413px;
  padding: 20px 30px;
}

.gk-choice .filter-section__header {
  margin-bottom: 50px;
}

.result-search__items {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 115px 110px;
}

@media (max-width: 1800px) {
  .gk-title__company {
    font-size: 70px; /* Уменьшение размера шрифта */
  }

  .gk-title__district,
  .gk-title__address {
    font-size: 35px; /* Уменьшение размера шрифта */
  }

  .gk-project__content {
    font-size: 22px; /* Уменьшение размера шрифта */
  }

  .gk-project__rate {
    width: 400px; /* Уменьшение ширины */
    height: 350px; /* Уменьшение высоты */
  }

  .features__list .nav-pills .nav-link {
    font-size: 18px; /* Уменьшение размера шрифта */
  }

  .details__item {
    min-height: 350px; /* Уменьшение минимальной высоты */
  }

  .result-search__items {
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    grid-gap: 80px 70px; /* Уменьшение отступов */
  }
}

@media (max-width: 1200px) {
  .gk-title__company {
    font-size: 60px; /* Уменьшение размера шрифта */
  }

  .gk-title__district,
  .gk-title__address {
    font-size: 30px; /* Уменьшение размера шрифта */
  }

  .gk-project__content {
    font-size: 20px; /* Уменьшение размера шрифта */
  }

  .gk-project__rate {
    width: 350px; /* Уменьшение ширины */
    height: 300px; /* Уменьшение высоты */
  }

  .features__list .nav-pills .nav-link {
    font-size: 16px; /* Уменьшение размера шрифта */
  }

  .details__item {
    min-height: 300px; /* Уменьшение минимальной высоты */
  }

  .result-search__items {
    grid-template-columns: repeat(1, 1fr); /* Одна колонка */
    grid-gap: 60px 50px; /* Уменьшение отступов */
  }
}

@media (max-width: 768px) {
  .gk-title__company {
    font-size: 50px; /* Уменьшение размера шрифта */
  }

  .gk-title__district,
  .gk-title__address {
    font-size: 25px; /* Уменьшение размера шрифта */
  }

  .gk-project__content {
    font-size: 18px; /* Уменьшение размера шрифта */
  }

  .gk-project__rate {
    width: 300px; /* Уменьшение ширины */
    height: 250px; /* Уменьшение высоты */
  }

  .features__list .nav-pills .nav-link {
    font-size: 14px; /* Уменьшение размера шрифта */
  }

  .details__item {
    min-height: 250px; /* Уменьшение минимальной высоты */
  }

  .result-search__items {
    grid-template-columns: 1fr; /* Одна колонка */
    grid-gap: 40px 30px; /* Уменьшение отступов */
  }
}

@media (max-width: 480px) {
  .gk-title__company {
    font-size: 40px; /* Уменьшение размера шрифта */
  }

  .gk-title__district,
  .gk-title__address {
    font-size: 20px; /* Уменьшение размера шрифта */
  }

  .gk-project__content {
    font-size: 16px; /* Уменьшение размера шрифта */
  }

  .gk-project__rate {
    width: 100%; /* Ширина на 100% */
    height: auto; /* Автоматическая высота */
  }

  .features__list .nav-pills .nav-link {
    font-size: 12px; /* Уменьшение размера шрифта */
  }

  .details__item {
    min-height: 200px; /* Уменьшение минимальной высоты */
  }

  .result-search__items {
    grid-template-columns: 1fr; /* Одна колонка */
    grid-gap: 20px 15px; /* Уменьшение отступов */
  }
}
