.login-dialog {
  width: 561px !important;
  height: 652px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px 88px;
}

mat-form-field {
  width: 150px;
  margin: 0 auto;
}

.login-dialog h1 {
  color: rgb(0, 0, 0);
  font-family: Lato, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.login-dialog img {
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto 20px auto; */
  display: block;
  width: 100px;
  height: 100px;
}

.mat-raised-button-primary-color {
  background: linear-gradient(
    180deg,
    rgb(39, 117, 141) -26.923%,
    rgb(28, 67, 68) 157.692%
  ) !important;
}

.login-button {
  width: 100% !important;
  height: 52px !important;
  border: none;
  outline: none;
  display: block;
  border-radius: 8px;
  background: rgb(192, 192, 192);
  color: rgb(255, 254, 254);
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

@media (min-width: 576px) {
  .login-dialog {
    width: 420px;
    height: 520px;
    display: flex;
    align-items: center;
  }

  mat-form-field {
    width: 420px;
    margin: 0 auto;
  }

  .login-dialog h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-dialog img {
    margin: 0 auto 20px auto;
    display: block;
  }

  .login-button {
    width: 300px;
    margin: 20px auto;
    display: block;
  }
}

@media (min-width: 768px) {
  .login-dialog {
    width: 420px;
    height: 520px;
    display: flex;
    align-items: center;
  }

  mat-form-field {
    width: 420px;
    margin: 0 auto;
  }

  .login-dialog h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-dialog img {
    margin: 0 auto 20px auto;
    display: block;
  }

  .login-button {
    width: 300px;
    margin: 20px auto;
    display: block;
  }
}

@media (min-width: 992px) {
  .login-dialog {
    width: 420px;
    height: 520px;
    display: flex;
    align-items: center;
  }

  mat-form-field {
    width: 420px;
    margin: 0 auto;
  }

  .login-dialog h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-dialog img {
    margin: 0 auto 20px auto;
    display: block;
  }

  .login-button {
    width: 300px;
    margin: 20px auto;
    display: block;
  }
}

@media (min-width: 1200px) {
  .login-dialog {
    width: 420px;
    height: 520px;
    display: flex;
    align-items: center;
  }

  mat-form-field {
    width: 420px;
    margin: 0 auto;
  }

  .login-dialog h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-dialog img {
    margin: 0 auto 20px auto;
    display: block;
  }

  .login-button {
    width: 300px;
    margin: 20px auto;
    display: block;
  }
}

@media (min-width: 1400px) {
  .login-dialog {
    width: 450px;
    height: 520px;
    display: flex;
    align-items: center;
  }

  mat-form-field {
    width: 420px;
    margin: 0 auto;
  }

  .login-dialog h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-dialog img {
    margin: 0 auto 20px auto;
    display: block;
  }

  .login-button {
    width: 300px;
    margin: 20px auto;
    display: block;
  }
}
