:host {
  display: none;
}

:host(.active) {
  display: flex;
  padding: 20px;
  column-gap: 30px;
  min-height: 300px;
}

.group {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
