<div class="tabs__header">
  <ng-container *ngFor="let item of tabs; let i = index">
    <app-tab-header-item
      [title]="item.title"
      [num]="i"
      [class.active]="i == activeNum"
      (mouseOver)="changeActiveNum($event)"
      (mouseReturn)="changeTempNum($event)"
    ></app-tab-header-item>
  </ng-container>
</div>

<div class="tabs__body">
  <ng-container *ngFor="let item of tabs; let i = index">
    <app-tab-body-item class="container"
                       [groups]="item.groups"
                       [class.active]="i == activeNum"
                       [num]="i"
                       (mouseOver)="changeActiveNum($event)"
                       (mouseReturn)="changeTempNum($event)"
    ></app-tab-body-item>
  </ng-container>
</div>
