<footer>
  <app-container>
    <div class="logback">
      <img class="img-to-center" src="./assets/img/РРА 3.png" alt="">
    </div>
    <div class="row">
      <div class="col-7">
        <div class="footer_white_wrapper_logo">
          <img class="footer_white_wrapper_logo_logo" src="./assets/img/footer_logo.png" alt="">
        </div>
      </div>
      <div class="col-5 px-0">
        <div class="footer__block-info">
          <span>КВАРТИРЫ НАПРЯМУЮ ОТ ЗАСТРОЙЩИКА</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="footer__block-links">

        <div class="footer-links__title">
          <div class="footer_text_main">
            ЦИФРОВАЯ НЕДВИЖИМОСТЬ
          </div>
          <div class="footer_text_sub">
            платформа по подбору недвижимости с расширенными параметрами для г. Воронежа
          </div>
        </div>

        <div class="footer_text_flex_left">
          <p><b>О КОМПАНИИ</b></p>
          <a>РИЕЛТОРАМ</a>
          <a>ЗАСТРОЙЩИКАМ</a>
          <a>IT-ДЕЯТЕЛЬНОСТЬ</a>
        </div>

        <div class="footer_text_flex_left">
          <p><b>НОВОСТРОЙКИ</b></p>
          <a>КВАРТИРЫ</a>
          <a>ЗАСТРОЙЩИКИ</a>
          <a>СДАННЫЕ ОБЪЕКТЫ</a>
        </div>

        <div class="footer-links__district">
          <p><b>КВАРТИРЫ В РАЙОНЕ</b></p>
          <a>Коминтерновский</a>
          <a>Железнодорожный</a>
          <a>Левобережный</a>
          <a>Ленинский</a>
          <a>Советский</a>
          <a>Центральный</a>
        </div>

        <div class="footer-links__main">
          <p class="text-white tx-footer"><a> Центр поддержки застройщиков</a> </p>
          <p class="text-white tx-footer"><a> Политика конфиденциальности</a> </p>
          <p class="text-white tx-footer"><a> Соглашение на обработку персональных данных</a></p>
        </div>

      </div>
    </div>
    <p class="footer__copyright text-white tx-footer-light"> Цифровая Недвижимость© Все права защищены Любая информация,
      представленная на данном сайте, носит исключительно информационный характер, не является публичной офертой,
      определяемой положениями статьи 437 ГК РФ.</p>
    <div class="footer_geo">
      <img src="./assets/img/geo_icon_footer.svg" alt="geo-icon">
      <div class="footer_geo_location">Воронеж</div>
    </div>
  </app-container>

</footer>
