<section class="edit-section">
  <div class="container">
    <div class="filters">
      <select class="select-option">
        <option value="Вчера">Вчера</option>
        <option value="Последние 7 дней">Последние 7 дней</option>
        <option value="За весь период">За весь период</option>
        <option value="За весь период">За весь период</option>
      </select>
      <select class="select-option">
        <option value="Все ЖК">Все ЖК</option>
        <option value="ЖК Современник">ЖК Современник</option>
        <option value="ЖК Звезда">ЖК Звезда</option>
        <option value="ЖК Композитор">ЖК Композитор</option>
      </select>
      <button>Обновить данные</button>
    </div>
    <div class="results">
      <div class="information">
        <h1>
          ЖК Композитор <br />
          <span>ул. Независимости, 55л</span>
        </h1>
        <h2>№ 12 456</h2>
      </div>
      <div *ngFor="let listing of listing" class="card">
        <div class="image-block">
          <img [src]="listing.img" alt="Apartment image" />
        </div>
        <div class="details">
          <h3>{{ listing.title }}</h3>
          <p>{{ listing.address }}</p>
          <p>{{ listing.kitchen }}</p>
          <p>{{ listing.floor }}</p>
          <p>{{ listing.deadline }}</p>
        </div>
        <div class="prices">
          <h2>5 550 500 ₽</h2>
          <h3>250 000₽/м2</h3>
        </div>
      </div>
      <div class="pictures">
        <h4 class="title">Фото и планировка</h4>
        <div>
          <div class="image-blocks">
            <img src="../../../../assets/img/house.png" alt="Apartment image" />
          </div>
          <div class="image-blocks">
            <img src="../../../../assets/img/house.png" alt="Apartment image" />
          </div>
          <div class="image-blocks">
            <img src="../../../../assets/img/house.png" alt="Apartment image" />
          </div>
        </div>
        <div>
          <div class="image-blocks">
            <img src="../../../../assets/img/house.png" alt="Apartment image" />
          </div>
          <div class="image-blocks">
            <img src="../../../../assets/img/house.png" alt="Apartment image" />
          </div>
          <div class="image-blocks">
            <img src="../../../../assets/img/house.png" alt="Apartment image" />
          </div>
        </div>
        <p class="info">
          На фото не должно быть людей, животных, алкоголя, табака, оружия. Не
          html  добавляйте чужие фото, картинки с водяными знаками и рекламу.
        </p>
        <div class="upload-file">
          <input type="file" />
          <span>или перетащите сюда JPG, PNG или GIF до 10Мб каждый</span>
        </div>
      </div>
      <div class="apartment-parameters">
        <h3 class="title">Параметры квартиры</h3>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">Тип жилья</h5>
            <mat-radio-group [(ngModel)]="apartmentType">
              <mat-radio-button class="example-margin" value="квартира">Квартира</mat-radio-button>
              <mat-radio-button class="example-margin" value="апартаменты">Апартаменты</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Планировка</h5>
            <mat-radio-group [(ngModel)]="layoutType">
              <mat-radio-button class="example-margin" value="смежная">Смежная</mat-radio-button>
              <mat-radio-button class="example-margin" value="изолированная">Изолированная</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Этаж</h5>
            <input class="sub-input" type="text" placeholder="5" [(ngModel)]="floorNumber" />
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Этажей в доме</h5>
            <input class="sub-input" type="text" placeholder="15" [(ngModel)]="totalFloors" />
          </div>
        </div>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">Количество комнат</h5>
            <mat-radio-group [(ngModel)]="numberOfRooms">
              <mat-radio-button class="example-margin" value="студия">Студия</mat-radio-button>
              <mat-radio-button class="example-margin" value="1 комната">1 комната</mat-radio-button>
              <mat-radio-button class="example-margin" value="еврооднушка">Еврооднушка</mat-radio-button>
              <mat-radio-button class="example-margin" value="2 комнаты">2 комнаты</mat-radio-button>
              <mat-radio-button class="example-margin" value="3 комнаты">3 комнаты</mat-radio-button>
              <mat-radio-button class="example-margin" value="евротрешка">Евротрешка</mat-radio-button>
              <mat-radio-button class="example-margin" value="4 комнаты">4 комнаты</mat-radio-button>
              <mat-radio-button class="example-margin" value="5 комнат и более">5 комнат и более</mat-radio-button>
              <mat-radio-button class="example-margin" value="свободная планировка">Свободная планировка</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Вид из окна</h5>
            <mat-radio-group [(ngModel)]="viewFromWindow">
              <mat-radio-button class="example-margin" value="Во двор">Во двор</mat-radio-button>
              <mat-radio-button class="example-margin" value="На улицу">На улицу</mat-radio-button>
              <mat-radio-button class="example-margin" value="На солнечную сторону">На солнечную сторону</mat-radio-button>
              <mat-radio-button class="example-margin" value="На две стороны">На две стороны</mat-radio-button>
              <mat-radio-button class="example-margin" value="Западная сторона">Западная сторона</mat-radio-button>
              <mat-radio-button class="example-margin" value="Северная сторона">Северная сторона</mat-radio-button>
              <mat-radio-button class="example-margin" value="Южная сторона">Южная сторона</mat-radio-button>
              <mat-radio-button class="example-margin" value="Восточная сторона">Восточная сторона</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Балкон</h5>
            <mat-radio-group [(ngModel)]="balconyType">
              <mat-radio-button class="example-margin" value="Балкон">Балкон</mat-radio-button>
              <mat-radio-button class="example-margin" value="Лоджия">Лоджия</mat-radio-button>
              <mat-radio-button class="example-margin" value="Утепленный балкон">Утепленный балкон</mat-radio-button>
            </mat-radio-group>
            <h5 class="sub-title" style="margin-top: 20px">Плита на кухне</h5>
            <mat-radio-group [(ngModel)]="stoveType">
              <mat-radio-button class="example-margin" value="газовая">Газовая</mat-radio-button>
              <mat-radio-button class="example-margin" value="электрическая">Электрическая</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Санузел</h5>
            <mat-radio-group [(ngModel)]="bathroomType">
              <mat-radio-button class="example-margin" value="совмещенный">Совмещённый</mat-radio-button>
              <mat-radio-button class="example-margin" value="раздельный">Раздельный</mat-radio-button>
              <mat-radio-button class="example-margin" value="2иболее">2 и более</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">Отделка</h5>
            <mat-radio-group [(ngModel)]="finishingType">
              <mat-radio-button class="example-margin" value="предчистовая">Предчистовая</mat-radio-button>
              <mat-radio-button class="example-margin" value="чистовая">Чистовая</mat-radio-button>
              <mat-radio-button class="example-margin" value="эконом-класс">Эконом-класс</mat-radio-button>
              <mat-radio-button class="example-margin" value="комфорт-класс">Комфорт-класс</mat-radio-button>
              <mat-radio-button class="example-margin" value="бизнес-класс">Бизнес-класс</mat-radio-button>
              <mat-radio-button class="example-margin" value="без отделки">Без отделки</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Отделка стен</h5>
            <mat-radio-group [(ngModel)]="wallFinishing">
              <mat-radio-button class="example-margin" value="обои">Обои</mat-radio-button>
              <mat-radio-button class="example-margin" value="краска">Краска</mat-radio-button>
              <mat-radio-button class="example-margin" value="панели">Панели</mat-radio-button>
              <mat-radio-button class="example-margin" value="линкруст">Линкруст</mat-radio-button>
              <mat-radio-button class="example-margin" value="дек. штукатурка">Декоративная штукатурка</mat-radio-button>
              <mat-radio-button class="example-margin" value="дек. кирпич">Декоративный кирпич</mat-radio-button>
              <mat-radio-button class="example-margin" value="без покрытия"
              >Без покрытия</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Отделка потолка</h5>
            <mat-radio-group [(ngModel)]="ceilingFinishing">
              <mat-radio-button class="example-margin" value="побелка">Побелка</mat-radio-button>
              <mat-radio-button class="example-margin" value="покраска">Покраска</mat-radio-button>
              <mat-radio-button class="example-margin" value="потолочная плитка">Потолочная плитка</mat-radio-button>
              <mat-radio-button class="example-margin" value="подвесной потолок">Подвесной потолок</mat-radio-button>
              <mat-radio-button class="example-margin" value="натяжной потолок">Натяжной потолок</mat-radio-button>
              <mat-radio-button class="example-margin" value="без покрытия">Без покрытия</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Покрытие пола</h5>
            <mat-radio-group [(ngModel)]="floorCovering">
              <mat-radio-button class="example-margin" value="линолеум">Линолеум</mat-radio-button>
              <mat-radio-button class="example-margin" value="ламинат">Ламинат</mat-radio-button>
              <mat-radio-button class="example-margin" value="паркет">Паркет</mat-radio-button>
              <mat-radio-button class="example-margin" value="керамогранит">Керамогранит</mat-radio-button>
              <mat-radio-button class="example-margin" value="кварцвинил">Кварцвинил</mat-radio-button>
              <mat-radio-button class="example-margin" value="без покрытия">Без покрытия</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">Ремонт</h5>
            <mat-radio-group [(ngModel)]="repairType">
              <mat-radio-button class="example-margin" value="косметический">Косметический</mat-radio-button>
              <mat-radio-button class="example-margin" value="евро">Евро</mat-radio-button>
              <mat-radio-button class="example-margin" value="дизайнерский">Дизайнерский</mat-radio-button>
              <mat-radio-button class="example-margin" value="без ремонта">Без ремонта</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Остекление балкона</h5>
            <mat-radio-group [(ngModel)]="balconyGlazing">
              <mat-radio-button class="example-margin" value="пвх">ПВХ</mat-radio-button>
              <mat-radio-button class="example-margin" value="алюминий">Алюминий</mat-radio-button>
              <mat-radio-button class="example-margin" value="витражное остекление">Витражное остекление</mat-radio-button>
              <mat-radio-button class="example-margin" value="без остекления">Без остекления</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Отделка санузла</h5>
            <mat-radio-group [(ngModel)]="bathroomFinishing">
              <mat-radio-button class="example-margin" value="без отделки">Без отделки</mat-radio-button>
              <mat-radio-button class="example-margin" value="с отделкой">С отделкой</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Радиоторы</h5>
            <mat-radio-group [(ngModel)]="radiatorType">
              <mat-radio-button class="example-margin" value="биметал">Биметал</mat-radio-button>
              <mat-radio-button class="example-margin" value="стальные">Стальные</mat-radio-button>
              <mat-radio-button class="example-margin" value="алюминивые">Алюминивые</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">Ремонт</h5>
            <mat-radio-group [(ngModel)]="repairType">
              <mat-radio-button class="example-margin" value="косметический">Косметический</mat-radio-button>
              <mat-radio-button class="example-margin" value="евро">Евро</mat-radio-button>
              <mat-radio-button class="example-margin" value="дизайнерский">Дизайнерский</mat-radio-button>
              <mat-radio-button class="example-margin" value="без ремонта">Без ремонта</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Остекление балкона</h5>
            <mat-radio-group [(ngModel)]="balconyGlazing">
              <mat-radio-button class="example-margin" value="пвх">ПВХ</mat-radio-button>
              <mat-radio-button class="example-margin" value="алюминий">Алюминий</mat-radio-button>
              <mat-radio-button class="example-margin" value="витражное остекление">Витражное остекление</mat-radio-button>
              <mat-radio-button class="example-margin" value="без остекления">Без остекления</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Отделка санузла</h5>
            <mat-radio-group [(ngModel)]="bathroomFinishing">
              <mat-radio-button class="example-margin" value="без отделки">Без отделки</mat-radio-button>
              <mat-radio-button class="example-margin" value="с отделкой">С отделкой</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Радиоторы</h5>
            <mat-radio-group [(ngModel)]="radiatorType">
              <mat-radio-button class="example-margin" value="биметал">Биметал</mat-radio-button>
              <mat-radio-button class="example-margin" value="стальные">Стальные</mat-radio-button>
              <mat-radio-button class="example-margin" value="алюминивые">Алюминивые</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="apartment-parameters">
        <h3 class="title">Параметры дома</h3>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">Тип жилья</h5>
            <mat-radio-group [(ngModel)]="houseType">
              <mat-radio-button class="example-margin" value="квартира">Квартира</mat-radio-button>
              <mat-radio-button class="example-margin" value="монолитный">Монолитный</mat-radio-button>
              <mat-radio-button class="example-margin" value="панельный">Панельный</mat-radio-button>
              <mat-radio-button class="example-margin" value="кирпично-монолитный">Кирпично-монолитный</mat-radio-button>
              <mat-radio-button class="example-margin" value="блочный">Блочный</mat-radio-button>
              <mat-radio-button class="example-margin" value="другой">Другой</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Класс цифровизации</h5>
            <mat-radio-group [(ngModel)]="digitalizationClass">
              <mat-radio-button class="example-margin" value="A">A</mat-radio-button>
              <mat-radio-button class="example-margin" value="B">B</mat-radio-button>
              <mat-radio-button class="example-margin" value="C">C</mat-radio-button>
              <mat-radio-button class="example-margin" value="D">D</mat-radio-button>
              <mat-radio-button class="example-margin" value="E">E</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Сейсмоустойчивость</h5>
            <mat-radio-group [(ngModel)]="seismicResistance">
              <mat-radio-button class="example-margin" value="до 3 баллов">до 3
                баллов</mat-radio-button>
              <mat-radio-button class="example-margin" value="до 5 баллов">до 5 баллов</mat-radio-button>
              <mat-radio-button class="example-margin" value="до 6 баллов">до 6 баллов</mat-radio-button>
              <mat-radio-button class="example-margin" value="7 и выше">7 и выше</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Срок сдачи</h5>
            <div style="display: flex">
              <input class="sub-input" type="text" placeholder="2024" [(ngModel)]="deliveryYearStart" />
              <input class="sub-input" type="text" placeholder="2025" [(ngModel)]="deliveryYearEnd" />
            </div>
            <mat-checkbox class="example-margin" [(ngModel)]="isHouseDelivered">Дом сдан</mat-checkbox>
          </div>
        </div>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">Высота потолков</h5>
            <mat-radio-group [(ngModel)]="ceilingHeight">
              <mat-radio-button class="example-margin" value="от 2.7м">от 2.7м</mat-radio-button>
              <mat-radio-button class="example-margin" value="до 2.7м">до 2.7м</mat-radio-button>
              <mat-radio-button class="example-margin" value="от 3м">от 3м</mat-radio-button>
              <mat-radio-button class="example-margin" value="от 3.5м">от 3.5м</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Количество лифтов</h5>
            <mat-radio-group [(ngModel)]="numberOfLifts">
              <mat-radio-button class="example-margin" value="1">1</mat-radio-button>
              <mat-radio-button class="example-margin" value="2">2</mat-radio-button>
              <mat-radio-button class="example-margin" value="3 и более">3 и более</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Умный дом</h5>
            <mat-checkbox class="example-margin" [(ngModel)]="isSmartHouse">Да</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNotSmartHouse">Нет</mat-checkbox>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Квартир на этаже</h5>
            <div style="display: flex">
              <input class="sub-input" type="text" placeholder="2" [(ngModel)]="apartmentsPerFloorStart" />
              <input class="sub-input" type="text" placeholder="5" [(ngModel)]="apartmentsPerFloorEnd" />
            </div>
          </div>
        </div>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">Лифт</h5>
            <mat-radio-group [(ngModel)]="liftType">
              <mat-radio-button class="example-margin" value="пассажирский">Пассажирский</mat-radio-button>
              <mat-radio-button class="example-margin" value="грузовой">Грузовой</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Своя котельная</h5>
            <mat-checkbox class="example-margin" [(ngModel)]="hasOwnBoilerRoom">Да</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="hasNotOwnBoilerRoom">Нет</mat-checkbox>
          </div>
        </div>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">Рядом</h5>
            <mat-checkbox class="example-margin" [(ngModel)]="isNearbyTC">ТЦ</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNearbyFitness">Фитнес</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNearbyPark">Парк</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNearbySchool">Школа</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNearbyKindergarten">Детский сад</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNearbyPolyclinic">Поликлинника</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNearbyBusStop">Остановка</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNearbyCarService">Автосервис</mat-checkbox>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Закрытый двор</h5>
            <mat-checkbox class="example-margin" [(ngModel)]="isClosedYard">Да</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNotClosedYard">Нет</mat-checkbox>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Меблировка</h5>
            <mat-checkbox class="example-margin" [(ngModel)]="isFurnitureWithout">Без мебели</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isFurnitureInKitchen">Мебель на кухне</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isFurnitureInApartment">Во всей квартире</mat-checkbox>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Парковка</h5>
            <mat-checkbox class="example-margin" [(ngModel)]="isParkingUnderground">Подземная</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isParkingMultilevel">Наземная многоуровневая</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isParkingOpenYard">Открытая во дворе</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isParkingClosedTerritory">Закрытая территория двора</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="apartment-parameters">
        <h3 class="title">Цена и условия сделки</h3>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">Способ продажи</h5>
            <mat-radio-group [(ngModel)]="saleMethod">
              <mat-radio-button class="example-margin" value="дду">ДДУ</mat-radio-button>
              <mat-radio-button class="example-margin" value="договор жск">Договор ЖСК</mat-radio-button>
              <mat-radio-button class="example-margin" value="переуступка">Переуступка</mat-radio-button>
              <mat-radio-button class="example-margin" value="ДКП">ДКП</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Гарантия на квартиру</h5>
            <mat-checkbox class="example-margin" [(ngModel)]="hasApartmentGuarantee">Да</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="hasNotApartmentGuarantee">Нет</mat-checkbox>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Бронирование</h5>

            <mat-checkbox class="example-margin" [(ngModel)]="isBookingOnline">Онлайн</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNotBookingOnline">Нет</mat-checkbox>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Электронная сделка</h5>
            <mat-checkbox class="example-margin" [(ngModel)]="isElectronicDeal">Да</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNotElectronicDeal">Нет</mat-checkbox>
          </div>
        </div>
        <div class="list">
          <div class="sub-list">
            <h5 class="sub-title">АКЦИИ</h5>
            <mat-checkbox class="example-margin" [(ngModel)]="hasPromo">Да</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="hasNotPromo">Нет</mat-checkbox>
          </div>
          <div class="sub-list">
            <h5 class="sub-title">Ипотека</h5>
            <mat-checkbox class="example-margin" [(ngModel)]="isMortgageAvailable">Да</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="isNotMortgageAvailable">Нет</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="add-information">
        <div class="d-flex">
          <div>
            <label for="lprice">Стоимость квартиры</label>
            <input type="text" id="lprice" />
          </div>
          <div>
            <label for="lpricem">Цена, м2</label>
            <input type="text" id="lpricem" placeholder="250 000" />
          </div>
        </div>
        <label for="lsertificate"> Использование сертификатов </label>
        <input type="text" placeholder="Перечислите" id="lsertificate" />
        <label for="lcontacts">Контакты менеджера</label>
        <input type="text" id="lcontacts" placeholder="+7 " />
        <input
          type="email"
          style="margin-top: 14px"
          placeholder="pochta@mail.ru"
        />
        <button class="save-change">Сохранить изменения</button>
      </div>
    </div>
  </div>
</section>
