<section class="edit-section">
  <div class="container">
    <div class="filters">
      <select class="select-option">
        <option value="Вчера">Вчера</option>
        <option value="Последние 7 дней">Последние 7 дней</option>
        <option value="За весь период">За весь период</option>
        <option value="За весь период">За весь период</option>
      </select>
      <select class="select-option">
        <option value="Все ЖК">Все ЖК</option>
        <option value="ЖК Современник">ЖК Современник</option>
        <option value="ЖК Звезда">ЖК Звезда</option>
        <option value="ЖК Композитор">ЖК Композитор</option>
      </select>
      <button>Обновить данные</button>
    </div>
    <div class="results">
      <div class="information">
        <h1>
          ЖК Композитор <br/>
          <span>ул. Независимости, 55л</span>
        </h1>
        <h2>№ 12 456</h2>
      </div>
      <div *ngFor="let listing of listing" class="card">
        <div class="image-block">
          <img [src]="listing.img" alt="Apartment image"/>
        </div>
        <div class="details">
          <h3>{{ listing.title }}</h3>
          <p>{{ listing.address }}</p>
          <p>{{ listing.kitchen }}</p>
          <p>{{ listing.floor }}</p>
          <p>{{ listing.deadline }}</p>
        </div>
        <div class="prices">
          <h2>{{apartment.priceAfterFormat}} ₽</h2>
          <h3>{{apartment.priceSqmtAfterFormat}} ₽/м2</h3>
        </div>
      </div>
      <div class="pictures">
        <h4 class="title">Фото и планировка</h4>
        <div><img [src]="this.gallery()[0].photoPath " *ngIf="this.gallery()[0].photoPath " alt="Uploaded MainImage">
        </div>
        <div class="gallery">
            <div *ngFor="let photo of gallery(); let i = index" class="photo-item">
              <img [src]="photo.photoPath" alt="Photo">
              <div class="button-group">
                <button (click)="removePhoto(i)">Удалить</button>
                <button (click)="movePhoto(i, i - 1)" [disabled]="i === 0">Вверх</button>
                <button (click)="movePhoto(i, i + 1)" [disabled]="i === gallery().length - 1">Вниз</button>
              </div>
            </div>

        </div>
        <p class="info">
          На фото не должно быть людей, животных, алкоголя, табака, оружия. Не
          html добавляйте чужие фото, картинки с водяными знаками и рекламу.
        </p>
        <div class="upload-file">
          <input class="btn btn-primary" type="file" (change)="onFileSelected($event)"
                 accept="image/gif,image/png,image/jpeg,image/pjpeg,image/heic"/>
          <span>или перетащите сюда JPG, PNG или GIF до 10Мб каждый</span>
        </div>
        <div>
          <div class="container w-25 mx-auto"*ngIf="imageUrl"><span>Пред. просмотр:</span><img [src]="imageUrl"  alt="Uploaded Image"></div>
          <button class="btn btn-primary" (click)="onUpload()" [disabled]="uploading">Загрузить на сервер</button>
        </div>


      </div>

      <app-apartment-parametrs [apartment]="apartment"></app-apartment-parametrs>


      <button class="save-change">Сохранить изменения</button>
    </div>
  </div>
</section>
